[2017-11-13 08:36] LuoZijun opened #11 "any example ?"
thanks for you work, i got some question:

how can i use `socket2-rs` send one raw packet(IP Packet or Ethernet Frame) to net interface device ?

[2017-11-13 23:43] alexcrichton commented on #11
Thanks for the report! I'd love to add an example of this to the crate, but for now you'll have to consult other documentation. This in general should line up with libc so a C example should be relatively easy to translate.

[2017-11-13 23:43] #11 closed

[2018-01-27 16:36] AGWA opened #14 "Example (binding a TCP socket to two addresses) doesn't work"
The documentation shows this crate being used to bind a TCP socket to two addresses.  This doesn't work on any OS that I'm familiar with - the second bind returns `EINVAL` since the socket is already bound.  I suggest providing a different example, as the example led me to believe that this crate had higher-level functionality that would abstract the use of multiple sockets to listen on multiple a

[2018-03-17 21:35] alexreg opened #20 "Why the mention of Serde in the README?"
I didn't know this project had anything to do with Serde.

[2018-03-18 15:40] #20 closed

[2018-04-15 17:04] sfackler opened #22 "set_keepalive is broken on linux"
It divides the interval seconds by 1000 even though that's expected to be a second count on Linux.

[2018-04-15 17:32] sfackler opened #24 "Socket::keepalive doesn't work on Windows"
There is apparently not any way of reading these values.

[2018-04-16 14:28] #22 closed

[2018-04-16 14:32] alexcrichton commented on #24
Weird, does the ioctl we execute do anything at all?

And for posterity I think the relevant test which is the impetus for this is here:

https://github.com/alexcrichton/socket2-rs/blob/f1952af36473cbd0934a660fde2f0851c5941033/src/socket.rs#L974-L984

[2018-04-16 15:47] sfackler commented on #24
It fails because the input pointer is invalid.

[2018-08-30 02:27] tobytailor opened #27 "Segmentation fault in Socket::accept"
Socket::accept segfaults within accept4 in statically linked musl(1.1.19) binaries on i386 linux.

[2018-08-30 16:39] #27 closed

[2018-08-30 16:39] alexcrichton commented on #27
Thanks for the report!

[2018-09-21 07:28] wayeast opened #28 "socket2 fails to build"
Hi,

I'm not sure if this is an issue with me or with the `socket2` library, but it seemed to appear out of the blue.  That is, there is no clear event between before (when my project was building) and after (when my project was failing to build) to which I can attribute this breakage.  `socket2` is buried deep within my dependency tree -- it is not in my project's Cargo.toml.

#### The error

[co

[2018-09-21 07:43] #28 closed

[2018-09-21 07:44] wayeast commented on #28
Sorry, I was being an idiot and confusing `cargo web` with `cargo`. Apologies.

[2018-09-30 20:48] pusateri opened #29 "Incoming interface would be useful for multicast UDP"
In C, you use recvmsg() to get the incoming interface. It's a bit complicated for differences between unix and linux. Not sure about Windows. Sample C code is in this gist:

https://gist.github.com/pusateri/58d4ea943cfbfb7e2b3af955293227fe

recvfrom() won't give you the incoming interface, just the source address.

[2018-10-01 17:34] alexcrichton commented on #29
Is there perhaps a missing function to bind for this library? Or could you narrow it down a bit what needs to happen in this library?

[2018-10-01 17:37] pusateri commented on #29
recvfrom() doesn't provide the incoming interface for a packet. code that runs on multiple interfaces (like mDNS) needs the incoming interface (usually an index).

[2018-10-01 17:58] pusateri commented on #29
This is important for multicast UDP because the destination address is always the multicast IP address and the source address can't be trusted because it's UDP and no 3-way handshake occurs to ensure return reachability. So the incoming interface is necessary to prevent spoofing.

[2018-10-08 19:45] alexcrichton commented on #29
@pusateri er right yeah makes sense, but I'm curious what API needs to be added to this library to expose the incoming interface? Or put another way, what would a PR to solve this look like?

[2018-10-11 00:27] alexcrichton commented on #29
Hm the implementation here is basically switching to `recvmsg`, right? If that's the case then I think we'd probably want to expose the lowest level API, and leave all the various parsing of the result to calling code (although we could also add conveniences as well)

[2018-10-11 02:57] pusateri commented on #29
Sure. I can try documenting a Rust version of recvmsg(). It does a lot more than incoming interface which others will probably appreciate.

[2018-10-11 20:31] alexcrichton commented on #29
FWIW I think it'd be fine to basically add that API to this crate at any time, and we could probably just use the same raw pointers as the underlying C APIs and just push the safety to users, making it convenient to at least call the C API

[2018-12-10 18:13] pusateri commented on #29
nix-rust/nix#990 includes support for incoming interface index.

[2018-12-10 18:13] #29 closed

[2019-03-02 13:32] Dash83 opened #30 "Documentation issue"
The documentation for [SockAddr::as_inet6()](https://docs.rs/socket2/0.3.8/socket2/struct.SockAddr.html#method.as_inet6) has an error:

Presumably,  it should say:

Cheers.

[2019-05-04 21:50] YorickPeterse opened #31 "Socket::nodelay() appears to result in an assertion failure on Windows"
When using a AF_INET STREAM socket, obtaining the `TCP_NODELAY` option using `Socket::nodelay()` produces an error failure like so:

[code]

This is because of the following code:

https://github.com/alexcrichton/socket2-rs/blob/a2b44dce0e26c3e943de21cba8943d12a0fda33d/src/sys/windows.rs#L714

As far as I know no additional options need to be set before being able to obtain the option. The Rust st

[2019-05-04 21:56] YorickPeterse commented on #24
I also ran into this issue. When obtaining the keepalive value, an error is returned with the following message:

Unfortunately, I know next to nothing about the winsocks API so I'm not sure how to determine what the root cause is, and how to fix it.

[2019-05-06 15:21] #30 closed

[2019-05-06 15:33] #31 closed

[2019-05-27 20:55] murtyjones commented on #28
@wayeast Can you elaborate on how you got this error? Seems to have come up for me out of the blue as well.

[2019-06-02 08:14] Wodann opened #34 "Bluetooth support"
I have been working on a [cross-platform Bluetooth implementation](https://github.com/wodann/io-bluetooth-rs), and have my own cross-platform Socket implementation that is very similar to yours. To reduce duplicity, I'd like to add Bluetooth support to your repository, and use it as a dependency.

[2019-06-02 08:14] Wodann commented on #34
@alexcrichton  If I'd create a pull request that implements Bluetooth support, would you be willing to add it to your repository, or would you rather keep it as a net-only socket repository?

[2019-06-03 14:25] alexcrichton commented on #34
If it's small enough and pretty cross platform, makes sense to me! If it's very platform specific though and/or a pretty big extension, it may be best as a separate crate.

[2019-07-05 18:37] justinmchase opened #35 "error[E0583]: file not found for module `sys`"
I'm trying to build using `wasm-pack build` and its giving me this error:
[code]

I'm very new at this but it seems like its pulling down the latest version of the code in this repo and failing to compile.

Any help would be greatly appreciated.

[2019-07-05 19:00] justinmchase commented on #35
This line appears to vary from master:
https://github.com/alexcrichton/socket2-rs/blob/ca89d63b87f4ec62f059caa1d9379c0dc8f1cd2b/src/lib.rs#L72

When I do a simple cfg check in my own app it appears to be resolved as "unix" so I'm not sure why this is failing.

Any workarounds welcome.

[2019-07-08 15:27] alexcrichton commented on #35
Thanks for the report! This crate needs to add some stubs for the wasm target that all return errors, but otherwise shouldn't be too hard to add.

[2019-07-14 21:21] murtyjones commented on #35
I'm getting this error too in a project of my own, and it's kind of mysterious because it seemed to come out of nowhere and when I run `wasm-pack build` in other projects, it works.

[this person](https://github.com/alexcrichton/socket2-rs/issues/28#issuecomment-423444700) seems to have found a workaround but I couldn't figure out what it was.

[2019-07-15 13:47] justinmchase commented on #35
I was not able to other than to not use the library that depended on this. I looked at it for a while and I bet there is a way but I'm not familiar enough with Rust to figure it out yet.

For what it's worth I was using WSL on windows but after a bunch of tests it seems like Rust correctly interprets it as unix and there wasn't a problem with the conditional compilation macros in smaller independe

[2019-07-26 18:25] andykilroy opened #37 "Failing to compile with socket2 v0.3.10"
Am finding a curious issue when running 'cargo build' on my application with socket2-rs v0.3.10.  When compiling my app, at the point where cargo is building the socket2-rs dependency cargo comes back with:

[code]

The dependencies in my Cargo.toml:

[code]

When cloning the socket2-rs repository, checking out 0.3.10 and running 'cargo build --features reuseport'  there is no problem:

[code]

[2019-07-26 19:18] alexcrichton commented on #37
This is likely indicative of either your compiler or a dependency needs to be updated, but I don't think this is an issue with this crate.

[2019-07-26 19:18] #37 closed

[2019-07-27 11:02] andykilroy commented on #37
Found it.  Was pulling in and aged cfg-if 0.1.2.  Thanks Alex!

[2019-08-05 20:08] YorickPeterse opened #38 "Listening on Unix sockets no longer works"
Starting with version 0.3.10 of socket2, it appears that calling `accept` on a UNIX socket no longer works. Consider the following server code:

[code]

This uses the Linux abstract address "dummy", but any other socket path (e.g. `/tmp/test.sock`) will produce the same problem.

We use the following client program (using Ruby):

    ruby -r socket -e 'UNIXSocket.new("\0dummy")'

On versions prior

[2019-08-05 20:11] YorickPeterse commented on #38
I confirmed that 763b8a59a28324ddcd981a9243375a309eb81679 indeed causes the problem by using socket2 from Git as follows:

[code]

Commits prior to this one will all pass, but starting with this commit the `accept` calls fail.

[2019-08-06 14:18] alexcrichton commented on #38
Thanks for the report! Can you try running `strace` and/or providing more details to your system? I'm not sure how that comit would have changed the behavior like this.

[2019-08-06 21:34] spamwax opened #39 "More than one request per socket connection possible?"
I am using this crate over standard librasy one mainly because of `Read` implementation.
I have two binary crates acting as server/client both of which use `serde_json` to serialize data.

After creating a unix-domain `stream` socket and connecting it to server's address, my client successfully uses `socket.send()` and reports back number of bytes sent.

However on server side the following never

[2019-08-07 00:56] YorickPeterse commented on #38
@alexcrichton This is on Linux, specifically kernel version 5.2.1. The output of `strace` is the following:

[code]

The interesting bits are:

[code]

Using socket2 0.3.9, the strace output is:

[code]

The part starting after the `accept` call:

[code]

[2019-08-07 00:58] YorickPeterse commented on #38
The differences in the `accept` calls are as follows:

0.3.9:

[code]

0.3.10:

[code]

[2019-08-07 01:04] YorickPeterse commented on #38
The problem is that the address length is passed incorrectly. This is done as follows:

[code]

`accept4` is supposed to receive a pointer as the length (a `socklen_t *` to be exact), but is instead given an `int` instead. This can be solved using the following patch:

[code]

[2019-08-07 01:08] YorickPeterse commented on #38
Oddly enough this seems to already fail in the test suite when running with `cargo test --features unix`, suggesting that CI might not be running all tests.

[2019-08-07 01:09] YorickPeterse commented on #38
Actually the tests do run everything, and they have already been failing: https://travis-ci.com/alexcrichton/socket2-rs/jobs/220558233

[2019-08-07 14:03] #38 closed

[2019-08-07 14:31] alexcrichton commented on #39
Thanks for the report! Unfortunately I don't have a ton of time to help out with networking knowledge in general, and this isn't a bug in this crate. For dealing with EOF I'd recommend looking into `shutdown` and various options that can enable.

[2019-08-07 14:31] #39 closed

[2019-09-10 06:53] godsey opened #42 "RFC 4607"
Would it be possible to add support for Source Specific Multicast?

[2019-09-10 13:20] alexcrichton commented on #42
Sure! PRs to add new bindings are always welcome!

[2019-09-10 13:29] godsey commented on #42
Could you point me in the right direction for building with a locally modified libc binding? Pointing cargo to my cloned repo doesn’t seem to work, or I am doing it wrong.

[2019-09-10 15:09] alexcrichton commented on #42
I'd recommend reading https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#overriding-dependencies for that

[2019-09-22 15:26] yoshuawuyts opened #44 "Support for passing Path to Socket bind & connect methods"
In [`alexcrichton/mio-uds`](https://github.com/alexcrichton/mio-uds) all socket types are constructed from references to `Path`. This is to match the API of std's unix socket types.

It'd be great if `socket2` would expose extra methods to bind and connect on `Path` types when the `unix` feature is enabled. This would save some unsafe code and boilerplate for consumers implementing unix socket typ

[2019-09-22 16:09] sfackler commented on #44
You can construct a `SockAddr` from a `Path`: https://docs.rs/socket2/0.3.11/socket2/struct.SockAddr.html#method.unix

[2019-09-22 16:12] yoshuawuyts commented on #44
Oh! Yeah that's pretty much all I need!

[2019-09-22 16:12] #44 closed

[2019-10-28 22:21] fatpelt commented on #42
I actually just submitted a draft rfc for this.  pr #45

[2019-12-05 09:21] aleksuss commented on #37
I've had the same issue when I tried to publish my crate which has a dependency `socket2-0.3.11` with Rust 1.38. But with Rust 1.36 is OK.
Compile output:
[code]

[2019-12-28 18:53] euclio opened #48 "Cannot shutdown socket on Windows"
I'm trying to use `socket2` to shutdown a socket in an `accept` loop from another thread:

[code]

The code works as expected on Linux ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c24f65f2ac305e76c0f60f84863112d2)). On Windows, I get the following error message from the call to `shutdown`.:

[code]

[2020-01-06 15:54] alexcrichton commented on #48
Thanks for the report! I suspect this is likely Windows-specific behavior and not necessarily a bug with this crate.

I think that `shutdown` is intended for TCP streams, not necessarily for TCP listeners though.

[2020-01-06 15:54] #48 closed

[2020-01-12 09:05] zonyitoo opened #49 "Support TCP Fast Open"
## `TcpListener`

All of Linux, OS X and Windows are the same, call `setsockopt` with `TCP_FASTOPEN` option

[code]

## `TcpStream`

This is a bit more complicated than `TcpListener`, because we have to send `SYN` with the first data packet to make TFO works. APIs are completely different on different platforms:

### Linux

Before 4.11, Linux uses `MSG_FASTOPEN` flag for `sendto()`, doesn't need t

[2020-01-13 15:12] alexcrichton commented on #49
I don't know much about this myself, but PRs are most welcome to explore the design space here!

[2020-02-19 10:52] ignatenkobrain opened #52 "socket::test::connect_timeout_unrouteable requires network interfaces"
Hello,

As part of packaging crates as RPMs we run tests. And recently I found out that if there are no network adapters, one of the tests is failing:

[code]

Would appreciate if you could look on this issue.

[2020-02-19 15:10] alexcrichton commented on #52
Thanks for the report, but this is a crate for sockets so some tests will require the network.

[2020-03-16 10:45] spamwax opened #53 "Question: socket.gethostname() functionality for this crate?"
I was just wondering if it makes sense to add a similar functionality to that of [python's](https://docs.python.org/3/library/socket.html#socket.gethostname) `socket` [module](https://github.com/python/cpython/blob/4ab362cec6/Modules/socketmodule.c#L5368-L5421) to this crate so the hostname (FQDN or not) of the machine (for the local end of) `socket` is returned? or this is something beyond/unrela

[2020-03-17 14:06] alexcrichton commented on #53
Seems reasonable to me to add!

[2020-03-17 20:24] spamwax commented on #53
Thanks
I'd like to tackle this.

any hints/directions on design of the API is appreciated. For example, should we support `gethostnmame()` for all possible combination of [Domain](https://docs.rs/socket2/0.3.11/socket2/struct.Domain.html), [Type](https://docs.rs/socket2/0.3.11/socket2/struct.Type.html) and [Protocol](https://docs.rs/socket2/0.3.11/socket2/struct.Protocol.html) that `socket2` offer

[2020-03-29 09:44] Thomasdezeeuw opened #56 "Socket2 use for Mio"
Hello I'm the maintainer of [Mio](https://crates.io/crates/mio) and I want to support some additional API around sockets. To not duplicate the effort around raw socket handling I think socket2 would be a good fit.

However I do have some questions. What is the status of maintenance of this crate? I've read @alexcrichton message some time ago that he'll be taking a step back from Rust (sorry to see

[2020-03-29 09:48] Thomasdezeeuw commented on #56
An example how restructuring the API: #57.

[2020-03-29 14:13] stjepang commented on #56
Hey everyone, another user relying on this crate chiming in - currently developing and wrapping up an alternative to mio (similar capabilities, but much simpler and 100% safe), which would not be possible without socket2, so here's another thank you!

I would also be interested in helping maintain this crate :)

[2020-03-30 15:02] alexcrichton commented on #56
Hello and thanks for reaching out! I do indeed not necessarily have a ton of time (or interest at this point) to maintain this crate. I'm happy to help keep it alive though, and would love to have help if others are interested!

@sfackler has also helped out with this crate historically (I think? If not feel free to unsubscribe). I don't mind modernizing this and/or reorganizing it. I would like t

[2020-03-30 15:21] Thomasdezeeuw commented on #56
@alexcrichton sound good, I'll start sending prs and ping @stjepang for reviews (if you're OK with that @stjepang).

[2020-03-30 16:33] stjepang commented on #56
Sounds great to me, let's do that!

[2020-03-31 18:43] Thomasdezeeuw opened #64 "Constant or constant functions"
Most types have function constructors, such as `Domain::ipv4`, should we make this functions `const` functions? Or alternatively make them associated constants?

[code]

Personally I feel like associated constants would be more appropriate, as there constants wrapped in a type. But I don't feel strongly either way.

/cc @stjepang

[2020-03-31 20:26] pfmooney opened #66 "Bump minor version"
In order to be pulled in as a dependency for rust-lang/rust#55553, could you please bump the minor version and publish it?

Thanks for your help.

[2020-04-01 13:54] alexcrichton commented on #66
Done!

[2020-04-01 13:54] #66 closed

[2020-04-01 15:03] pfmooney commented on #66
Thanks for your help with this and the other releases.

[2020-04-07 17:31] #64 closed

[2020-04-25 08:21] thomasnz commented on #35
I think I am getting a similar error. I'm using a library that depends on socket for a WASM project.

`error[E0432]: unresolved import crate::sys --> C:\Users\Thomas\.cargo\registry\src\github.com-1ecc6299db9ec823\socket2-0.3.12\src\socket.rs:23:5`
`   |`
`23 | use crate::sys;`
`   |     ^^^^^^^^^^ no sys in the root`

[2020-05-07 09:35] Thomasdezeeuw opened #78 "Tracking issue: expand CI testing"
CI support, following the same tiers as rust (https://doc.rust-lang.org/nightly/rustc/platform-support.html).

## Tier 1

Tests must pass.

 * [x] Linux: tested.
 * [x] Windows: tested.
 * [x] macOS: tested.

## Tier 2

Must build.

 * [x] Android: check only.
 * [x] FreeBSD: check only.
 * [x] Fuchsia: check only.
 * [x] NetBSD: check only.
 * [x] Redox: check using Rust nightly only, stable is t

[2020-05-13 20:47] tamird opened #79 "Support TCP_KEEP{CNT,INTVL} on Linux"
The support for keepalive is pretty limited right now. I'm looking to write a test that wants to trigger connection closure in response to unacked timeouts, and without being able to set these, it's impossible for that test to complete in a reasonable amount of time.

Moved from https://github.com/deprecrated/net2-rs/issues/90.

[2020-06-02 07:41] dignifiedquire opened #83 "SO_NOSIGPIPE not set on ios"
I am experiencing trouble with sigpipes using socket2 on ios. The code already sets nosigpipe by default for macos, is there a reason this is not done for ios as well?

[2020-06-02 08:40] Thomasdezeeuw commented on #83
No reason I think. I would require changing: https://github.com/alexcrichton/socket2-rs/blob/b3badc7d3d599746a3632666876f1a253476c3c7/src/sys/unix.rs#L264 to `#[cfg(target_vendor = "apple")]`. @dignifiedquire would you like to send a pr?

[2020-06-02 13:22] dignifiedquire commented on #83
Done: https://github.com/alexcrichton/socket2-rs/pull/84

I went with `any(target_os = "macos", target_os = "ios")` to match the rest of the cfgs in that file

[2020-06-02 13:24] Thomasdezeeuw commented on #83
I think for the long term we should move to `target_vendor` to support tvOS and watchOS (?), but that's fine.

[2020-06-02 13:24] #83 closed

[2020-06-17 01:16] kallisti5 opened #85 "Haiku test failure. keepalive / connect_timeout/unbound"
Just reporting a test failure on Haiku. Overall it's pretty close!

master as of 32969e53c75849e4047233d8b55f551a8645b21d

[code]

[2020-06-17 20:44] Thomasdezeeuw commented on #85
@alexcrichton is there anyone we can ping for Haiku support?

[2020-06-17 21:35] alexcrichton commented on #85
I am unaware of someone myself.

[2020-06-18 10:12] Thomasdezeeuw commented on #85
This is a bit out of the blue, but @jessicah you authored commit 7d3be9b417b6dead1ff31466bec5e0fe901641f4 which involves Haiku, could you help with this issue?

[2020-06-19 11:54] jessicah commented on #85
@kallisti5 is actually one of the core Haiku maintainers...

Regarding the keepalive test, is `c_int` dependent on the OS arch? I.e. 32-bit on 32-bit arch, 64-bit on 64-bit arch? If so, then this is likely the problem.

Keepalive: https://github.com/alexcrichton/socket2-rs/blob/32969e53c75849e4047233d8b55f551a8645b21d/src/sys/unix.rs#L834
Setsockopt: https://github.com/alexcrichton/socket2-rs/blob

[2020-06-19 12:09] Thomasdezeeuw commented on #85
Ah, I didn't know that.

I didn't check the spec, but I think it only needs to be at least 16 bits. Even on most 64 bit architectures its actually 32 bit (this is at least true for MacOS and Linux).

Is this true for all `setsockopt` options on Haiku? If so its seems a relative easy fix: replacing `as libc::socklen_t` with the correct type in: https://github.com/alexcrichton/socket2-rs/blob/32969e

[2020-06-19 13:06] kallisti5 commented on #85
Doh!!!! I wanted to see if anyone else would step up to do the work.

I'll take a look. Thanks for the analysis Jessica :-)

[2020-06-19 22:33] jessicah commented on #85
No, a couple options can receive a struct as argument, `struct linger` & `struct timeval`.

[2020-06-22 22:19] bltavares opened #86 "Support for sending multicast packets on multiple interfaces with a single socket"
Hi there @alexcrichton,

Thanks a lot for the project. It has helped me to get started with a multicast-based project, and it was amazing. I was able to send messages and find peers, until I couldn't anymore. I've dig deep into the depths of the network stack, to find, with amusement, that network is chaos.

One of my computers could find the other announcements, but the other computer would not f

[2020-06-23 14:39] alexcrichton commented on #86
Thanks for the explanation and the thorough issue report! I suspect that the bindings here are pretty simple so I think they'd work well in this crate. In general this crate is "mostly single-line wrappers around system functionality", so as long as it fits that bill it should be good to add.

[2020-06-25 00:42] bltavares opened #87 "Latest version introduces Ipv4 address conversion issues"
Hi there,

The latest version published of `socket2` (`0.3.12`) works with the following test program, but when upgrading to latest commit on this repo fails to associate the socket with a multicast address, both on Windows and Linux.

[code]

On Windows it crashes as:

[code]

On Linux it crashes as:

[code]

Running the test program with `git bisect` led me to the commit on #68, and maybe there

[2020-06-25 09:10] #87 closed

[2020-07-01 01:52] bltavares commented on #86
Hi @alexcrichton, thanks for the comment. I've started exploring the design space and doing something usable across platforms required many lines of unsafe code.

I've started to do that on a fork of socket2, but as it kept growing I felt like it would be a bit too big for the project. So I've moved those out to a new crate using some of the OS-specific traits to get access to the socket handle, w

[2020-07-15 00:10] dancojocaru2000 opened #89 "Socket receiving 0 bytes twice then hanging"
I struggled a bit with this one over the last 2 days, and I'm finally making some progress to the point where I think there might be an issue to this create.

Initially, I wrote the following code in Python and it worked:
[code]

I then wrote the following code in Rust but it does not want to work:
[code]

The output of the code is this:
[code]
After the two "Received 0 bytes", the program freezes

[2020-07-15 12:05] Thomasdezeeuw commented on #89
You're using a `Vec`, with dereferences to a slice (in `recv(&mut buffer)`), but the `Vec` is empty and so is the slice. So your doing: `recv(&[])` effectively. Try calling `buf.resize(buf.capacity(), 0)` and then receiving. Also you might want to move the `Vec` out of the loop, your allocating each iteration.

[code]

And a final note: you can only receive a single UDP packet per call to `recv` a

[2020-07-15 12:05] #89 closed

[2020-07-15 12:14] dancojocaru2000 commented on #89
Oh damn, I'm amazed I forgot about that! Yeah, Vec is equivalent to C++ std::vector, not std::array. I'm silly.

Speaking of Vec, is there any way to create big stack allocated arrays? As far as I know, "C-like" arrays (dunno how else to describe them) are limited in functionality above 32 elements.

I appreciate the hint about performance and that I'm aware of, but, when messing around with new c

[2020-07-15 12:35] Thomasdezeeuw commented on #89
You can do the following for a stack backed buffer:

[code]

Although it wouldn't implement some useful traits on the array it will likely implement them on the slice, and rustc is usually smart enough to deference the array automatically.

Alternatively you can use a crate like [arrayvec](https://crates.io/crates/arrayvec) or the `Vec` type from [heapless](https://crates.io/crates/heapless), for

[2020-07-15 12:36] dancojocaru2000 commented on #89
Thanks!

[2020-07-24 18:30] bdonlan opened #90 "Support for IP_FREEBIND on Linux"
It would be useful to be able to set the IP_FREEBIND socket option that is available on linux.

See also https://github.com/rust-lang/libc/pull/1835 for exposing this symbol from libc.

[2020-07-26 10:39] Thomasdezeeuw commented on #90
Sounds good to me. Could you add a `cfg` similar to: https://github.com/alexcrichton/socket2-rs/blob/25f2949fd7b7ab93907f33d8f9b0eb0d7baafadb/src/sys/unix.rs#L92

[2020-08-14 14:12] Lesiuk opened #93 "Braking change introduced by minor version 0.3.13"
https://docs.rs/socket2/0.3.12/socket2/struct.Domain.html
https://docs.rs/socket2/0.3.13/socket2/struct.Domain.html

functions missing
`socket2::Domain::ipv4()`
`socket2::Domain::ipv6()`

[2020-08-14 14:12] poljar opened #94 "Release 0.3.13 has breaking changes and thus breaks hyper."
It seems that the last version bump shouldn't have been a patch version.

Projects depending on hyper (reqwest in my case) seem to be broken now.

Output:

[code]

[2020-08-14 14:12] baoyachi opened #95 "hyper build error"
build error,detail message
[code]

[2020-08-14 14:13] poljar commented on #94
Someone was faster https://github.com/alexcrichton/socket2-rs/issues/93.

[2020-08-14 14:13] #94 closed

[2020-08-14 14:52] baoyachi commented on #95
Sometimes I think that with the semantic version of cargo, the project itself is out of control. The previous minute compiles OK, and the next minute a dependent library is updated, and some code is deleted, resulting in the project unable to compile. Is it the best choice to leave the initiative of the project to the author of the dependent project? We lost control and the project became less sta

[2020-08-14 14:54] rossmacarthur commented on #93
There are also breaking changes on

https://docs.rs/socket2/0.3.12/socket2/struct.Protocol.html
https://docs.rs/socket2/0.3.12/socket2/struct.Type.html

[2020-08-14 15:02] jkoudys commented on #93
Getting all these building actix:
[code]

[2020-08-14 15:09] rossmacarthur commented on #95
@baoyachi You can specify

[code]

In you `Cargo.toml` until this is fixed.

[2020-08-14 15:11] stjepang commented on #95
Yanked v0.3.13 to prevent breakage. Sorry about that!

[2020-08-14 15:12] cedric-h commented on #95
Thank you! :tada:

[2020-08-14 15:12] #93 closed

[2020-08-14 15:12] #95 closed

[2020-08-14 15:12] baoyachi commented on #95
Thanks. I know that, but it's just a temporary solution. The problem is that our project can't be controlled normally. If we succeed in one minute, we may fail in the next. How to avoid this problem？

[2020-08-14 15:14] rossmacarthur commented on #93
@stjepang there are still breaking changes on

docs.rs/socket2/0.3.12/socket2/struct.Protocol.html
docs.rs/socket2/0.3.12/socket2/struct.Type.html

that were not fixed in #96

[2020-08-17 10:20] Thomasdezeeuw commented on #95
v0.3.13 and v0.3.14 are yanked and v0.3.12 should be the used version again, so this should be resolved.

[2020-08-17 10:26] baoyachi commented on #95
Thx @Thomasdezeeuw

[2020-08-17 10:37] Thomasdezeeuw opened #97 "New v0.3.x branch"
@stjepang I've pushed a new v0.3.x branch based on commit c22d0e55c4dff90ad1f0c6cfed6708cc79764408 (Bump to 0.3.12). Then I cherry-picked b3badc7d3d599746a3632666876f1a253476c3c7, 32969e53c75849e4047233d8b55f551a8645b21d, 7bf31f95af1905880e73a169b0eb3894597e6f0f, which are small fixes (and more importantly not API breaking!)

[2020-08-17 10:38] Thomasdezeeuw commented on #97
I think its safe to release v0.3.15 from that branch, but maybe you want to take a look first.

[2020-08-25 13:33] stjepang commented on #97
I confirm this looks good.

Diff between 0.3.12 and v0.3.x: https://github.com/alexcrichton/socket2-rs/compare/0.3.12..v0.3.x

[2020-09-08 17:44] coolreader18 commented on #97
Would it be feasible to publish 0.3.15 from the 0.3.x branch? It seems like there aren't any breaking changes in the diff, other than fixes for typos in functions that weren't really usable anyway.

[2020-09-09 09:45] Thomasdezeeuw commented on #97
A new release sounds good to me, @stjepang what do you think?

[2020-09-09 12:59] stjepang commented on #97
Let's do it!

[2020-09-09 16:43] Thomasdezeeuw commented on #97
Created #100.

[2020-09-09 17:02] Thomasdezeeuw commented on #97
@coolreader18 I just published v0.3.15.

[2020-09-09 17:57] coolreader18 commented on #97
Cool, thank you!

[2020-10-08 12:21] Thomasdezeeuw opened #111 "Bikeshed: name for Socket::new_with_common_flags"
Pr #110 changed `Socket::new` to be a simple call to `socket(2)`, with setting common flags like `CLO_EXEC`. For convenience we should add back a function which copies the old behaviour. For that function we need a good name. Some possibilities:

* `Socket::new_with_common_flags`: too long.
* `Socket::like_std`: create a socket like the standard library would?

[2020-10-09 17:44] Thomasdezeeuw commented on #111
We should use `cfg(accessible)` for this once stable: https://github.com/rust-lang/rust/issues/64797.

[2020-10-09 17:49] Thomasdezeeuw opened #113 "Expose all flags in msghdr send/recv_vectored function"
Pr #107 added vectored I/O and currently returns a boolean indicating if the buffer was truncated. But the `flags` field on `msghdr` give us more information. This issue is about nicely (and cross-platform) exposing that information.

Some ideas:
* Add our own `msghdr` like structure that can be checked after a call to send/recv. Downside: input, output arguments are very "rustic".
* Instead of re

[2020-10-10 08:25] de-vri-es commented on #113
I like the flags type idea. It also makes the return type more intuitive: `(usize, RecvFlags, SockAddr)` instead of `(usize, bool SockAdd)`.

There are no flags to return when sending messages, btw. But I think `RecvFlags` is still a good name. It would allow to create a `SendFlags` type later for the flags argument.

It probably makes sense to do this before releasing vectored I/O, to prevent bac

[2020-10-10 18:13] de-vri-es commented on #113
PR opened at #114 :)

[2020-10-17 12:57] de-vri-es commented on #113
#114 was merged :)

Do you think that there is more that should be done?

[2020-10-17 12:59] de-vri-es commented on #111
Hmm, I understand the reasoning behind this, but I do think that 9 out of 10 times (if not more) you want to use the default flags.

So I would actually flip this: have `Socket::new()` use the almost always desired flags, and have `Socket::with_custom_flags` for the other use-cases.

[2020-10-18 12:30] Thomasdezeeuw commented on #113
Nope.

[2020-10-18 12:30] #113 closed

[2020-10-18 12:36] Thomasdezeeuw commented on #111
This is probably true.

I still argue for keeping `Socket::new` as a wrapper for `socket(2)`. I see the crate socket2  as a small wrapper around the libc interface with some convenient functions added, such as `Domain::for_address`, and I would argue that `Socket::new_with_common_flags` is one of those convenience functions.

[2020-10-18 17:18] de-vri-es commented on #111
Hmm, another reason to be careful is that it will change the behavior of existing code. Currently, sockets are always created with the `CLOEXEC` flag set. After the change the file descriptors will be leaked to child processes if the default `new()` is used. Of course there is semver to signify breaking changes, but most people will just fix compilation errors rather than look in=depth what change

[2020-10-21 08:20] Thomasdezeeuw commented on #111
The thing is, in some cases that is exactly what you want. We should support cases where the child process can use the socket. To me this library should do the least surprising thing. Since the documentation says the function says it corresponds to `socket(2)` and `WSASocketW` (https://github.com/alexcrichton/socket2-rs/blob/b0f77842b3357dd571bb86b30b354bc55215f693/src/socket.rs#L106-L108), it sho

[2020-10-21 09:28] de-vri-es commented on #111
Even then the proper thing to do is to disable the flag after forking, before exec-ing the new binary (or to use dup2, but still after forking). That's the only race-free way to let child processes inherit the file descriptor (atleast on platforms that have `SOCK_CLOEXEC`).

Ah, I looked on docs.rs where it doesn't show up since it isn't released yet.

Another exception was `accept`, which also se

[2020-10-23 15:38] linkmauve commented on #97
Hi, could you also backport 43b75d3dd4a90e33b4b9ddb764f84f68914c9648 please?  It prevents this crate from building under Haiku, blocking for instance cargo-c.

[2020-10-23 15:43] Thomasdezeeuw commented on #97
@linkmauve would be could if you opened a pr :) Otherwise I can do it tomorrow.

[2020-10-23 15:49] linkmauve commented on #97
Here, done in #115!

[2020-10-23 15:51] alexcrichton opened #116 "Move to a new home?"
@Thomasdezeeuw @stjepang y'all have been doing a great job maintaining this crate, and I clearly don't have time for it, so I was wondering if y'all would prefer it live somewhere else? I don't think it's helping much living under my name right now!

[2020-10-23 16:17] Thomasdezeeuw commented on #116
I'm fine with moving it. Perhaps it could live under the Tokio organisation to give some more exposure. I plan to move Mio to use socket2 in the long term.

@stjepang what do you think?

[2020-10-23 21:42] stjepang commented on #116
I also don't have time to keep working on this crate but would very strongly recommend **not** moving it into Tokio.

Instead, move socket2 into your personal account or create a new GitHub organization for it. Or, even better: there are good chances socket2 would be accepted by the rust-lang organization. I think that would be the healthiest decision for Rust and Open Source.

Cheers and good luc

[2020-10-23 22:03] stjepang commented on #116
I also don't have the time to keep working on this crate. Up to you!

[2020-10-24 07:40] Thomasdezeeuw commented on #116
I would be OK with moving socket2 into the rust-lang organisation. My full plan for socket2 is the following:

* Medium term: turn socket2 into the socket library for all Rust crates not using std lib sockets.
* Medium term: change Mio to use socket2 and provide good integration with it.
* Long term: change the std lib implementation to be based on socket2, providing additional methods on TcpStrea

[2020-10-24 07:56] Thomasdezeeuw commented on #111
@de-vri-es what you propose as function name that only calls `socket(2)`/`WSASocketW` and nothing else? I might be able to be convinced to change `Socket::new` to set the flags, if can come up with a better name then `Socket::new_with_common_flags` for the "set common flags" method (which is a terrible name).

[2020-10-24 12:20] de-vri-es commented on #111
How about `raw_new()`? This would also translate nicely to `raw_accept()` and `raw_pair()`, which have the same problem.

Or maybe flipped: `new_raw()`, `accept_raw()` and `pair_raw()`.

[2020-10-24 16:01] alexcrichton commented on #116
I'm not sure, [let's find out](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/socket2.20in.20rust-lang.3F)

[2020-10-29 19:41] alexcrichton commented on #116
Ok moved to rust-lang now!

@Thomasdezeeuw let me know if any permissions look awry, but I think you should be good to go!

[2020-10-29 19:41] #116 closed

[2020-10-30 00:58] de-vri-es commented on #111
Starting on implementing that suggestion in #117.

[2020-11-05 18:09] hawkw commented on #24
I did some research, and as far as I can tell, [the Microsoft documentation doesn't make any mention of accessing the keepalive values using `WSAIoctl`, or via any other function](https://docs.microsoft.com/en-us/windows/win32/winsock/sio-keepalive-vals). However, it never clearly states that this is _not_ possible.

The closest thing to a definitive answer I could find is [this StackOverflow answ

[2020-11-06 07:44] faern opened #119 "The code assumes the memory layout of SocketAddrV{4,6}"
This library casts `std::net::SocketAddrV4` (and `V6`) into `libc::sockaddr`: https://github.com/rust-lang/socket2-rs/blob/b0f77842b3357dd571bb86b30b354bc55215f693/src/sockaddr.rs#L95-L115

As far as I can tell there are no guarantees from `std` about the layout of `SocketAddrV{4,6}`, and this code could silently compile and cause UB elsewhere if the representation changes.

This internals forum t

[2020-11-06 09:11] Thomasdezeeuw commented on #119
@Nemo157 made me aware of this in https://github.com/tokio-rs/mio/issues/1386. I didn't know about https://github.com/rust-lang/rust/pull/78802, but if that will proceed than I'll fix both Mio and socket2 in the same way.

[2020-11-06 12:46] faern commented on #119
I think this needs to be fixed no matter what happens with https://github.com/rust-lang/rust/pull/78802. Because both these crates still rely on a non specified memory layout. Having these assumptions in commonly used crates makes it more troublesome for the standard library to evolve.

[2020-11-06 16:44] sfackler commented on #119
For reference, this assumption was made because Alex wrote the implementation of std's SocketAddr and then wrote the implementation of this library.

[2020-11-06 17:40] Thomasdezeeuw opened #121 "Port pr #120 to master"
Pr: #120
Issue: #119

[2020-11-08 19:11] faern commented on #119
Fixed in #120

[2020-11-08 19:11] #119 closed

[2020-11-08 22:01] faern commented on #121
I'm working on this...

[2020-11-09 13:51] #121 closed

[2020-11-11 10:19] Thomasdezeeuw opened #126 "Use Mio's keepalive API"
Recently Mio got a very nice API for dealing all things keepalive: https://github.com/tokio-rs/mio/pull/1385. socket should adopt the same API.

[2020-11-11 10:37] Thomasdezeeuw opened #127 "Document supported OS versions"
Currently there is no explicit documentation on what versions of OSes are supported. We should create such a documentation and keep it up-to-date.

[2020-11-11 10:38] Thomasdezeeuw commented on #127
https://github.com/rust-lang/socket2-rs/pull/124 requires at least Windows 7 SP1 or Windows Server 2008 R2 with SP1.

[2020-11-11 11:55] faern commented on #119
@Thomasdezeeuw Thanks for the fast and smooth collaboration on getting this fixed in all the crates you maintain! I know you said you wanted to get something more merged before releasing `mio`, but is there anything blocking releasing a patch release of `socket2 0.3.x` with this fix?

[2020-11-11 12:30] de-vri-es commented on #119
I think #117 needs to be implemented before releasing, or `Socket::new()` would change to not setting the `CLOEXEC` flag. But that has some requests for changes and it needs to be rebased on #124 first, which itself isn't merged yet.

[2020-11-11 12:39] Thomasdezeeuw commented on #119
@de-vri-es #117 and #124 are for the master branch which will become v0.4.x. @faern I'll prepare a release.

[2020-11-11 12:49] Thomasdezeeuw commented on #119
@faern version v0.3.16 is released.

[2020-11-11 15:09] Thomasdezeeuw opened #129 "Use of buffers in WSASend is incorrect."
Per the `WSASend` docs (https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-wsasend):

But we use `&[IoSlice<'_>]`, meaning that we don't own the buffers or even have unique access to them. We need to use `&mut [IoSlice<'_>]`, but this conflicts with the `io::Write::write_vectored` function signature.

Relevant code: https://github.com/rust-lang/socket2-rs/blob/dc82e662cda027f6

[2020-11-11 16:23] de-vri-es commented on #129
Hmm, I suspect this is a case of poor wording in the docs. I think it's overly protective. The only way reading these buffer objects from a different thread could be UB is if the OS is writing to them. However, if it did that I'd expect them to say that.

The wording is unfortunate, but I doubt this is really UB. It would be nice if someone with insider knowledge could confirm that though.

Note t

[2020-11-11 23:21] wchargin opened #130 "Need `--cfg=libc_align` in v0.3.16 but not v0.3.15; why?"
Hi! I transitively use `socket2` as part of a Rust project built with
Bazel. I’m noting that `socket2` builds successfully for me at v0.3.15,
but not at version v0.3.16 (released today) unless I specify the extra
flag `--cfg=libc_align`. I’m a bit hesitant to do so because it feels
low-level and platform specific, so I wanted to check and see whether
this is expected or whether there’s a better so

[2020-11-13 11:27] Thomasdezeeuw commented on #130
This was done in https://github.com/rust-lang/socket2-rs/pull/120, maybe @faern can elaborate why it's needed a bit.

[2020-11-13 12:28] faern commented on #130
It is very strange that you get this on rustc 1.47.0. According to the libc build script it should automatically activate `libc_align` when you compile it on rustc 1.25 or newer: https://github.com/rust-lang/libc/blob/master/build.rs#L56-L59

And also having `socket2` activate the feature should also make the need for the `__align` field go away.

I have never used Bazel. Maybe it does not support

[2020-11-13 12:37] faern commented on #130
Or maybe it simply does not parse the build script output of `cargo:rustc-cfg=libc_align`!? That would make kind of sense since the line includes `cargo:`. But then again, would not almost everything break if it did not support those? :O

[2020-11-17 06:39] wchargin commented on #130
Ah! Thank you, thank you. Indeed, it can pass `cfg=...` outputs from
`build.rs`, but only if you specify `gen_buildrs = true` (by design, to
make it explicit where the build isn’t necessarily hermetic), and
I hadn’t done so for this crate. Silly of me; sorry for the trouble, and
thanks for the pointer. :-)

[2020-11-17 06:39] #130 closed

[2020-11-28 12:47] Thomasdezeeuw commented on #111
Done in #134, new functions are called `*_raw`, e.g. `Socket::new_raw`.

[2020-11-28 12:47] #111 closed

[2020-12-01 20:25] faern opened #139 "Yank all `0.3` versions older than `0.3.16`"
Due to #120. If the standard library ever do change the memory layout of `SocketAddr`, usage of this crate of versions before `0.3.16` will have undefined behaviour and lead to segfaults. And even if the standard library never do change the layout of those types, those older versions of this crate still makes assumptions they should not.

This is exactly what yanking is for. Marking a release as "

[2020-12-03 10:27] Thomasdezeeuw commented on #139
Done: https://crates.io/crates/socket2/versions. I'm leaving v0.1.0 and v0.2.0 although they might have the same problem (I haven't checked), but those aren't maintained any more.

[2020-12-03 10:27] #139 closed

[2020-12-14 16:34] coolreader18 commented on #97
Could we release a 0.3.18 with the redox fixes?

[2020-12-18 13:06] Thomasdezeeuw commented on #126
Related #79, #24.

[2020-12-19 12:06] #24 closed

[2020-12-19 12:06] #126 closed

[2020-12-19 12:06] #79 closed

[2020-12-19 12:10] Thomasdezeeuw commented on #53
@spamwax do you still need this? According to the manual glibc actually uses `uname(2)`, so something like Nix might be a better crates for this, they already have a wrapper function: https://docs.rs/nix/0.19.1/nix/sys/utsname/fn.uname.html.

[2020-12-19 14:38] #90 closed

[2020-12-19 21:13] spamwax commented on #53
ok, thanks.

[2020-12-20 20:00] Thomasdezeeuw opened #156 "Tracking issue: test coverage"
Current list left to test:

* [ ] `Socket::peer_addr`
* [ ] `Socket::try_clone`
* [ ] `Socket::shutdown`
* [ ] `Socket::recv_out_of_band`
* [ ] `Socket::peek`
* [ ] `Socket::recv_from`
* [ ] `Socket::peek_from`
* [ ] `Socket::send_out_of_band`
* [ ] `Socket::take_error`
* [ ] `Socket::write_timeout`
* [ ] `Socket::set_linger(None)`
* [ ] `Socket::join_multicast_v4`
* [ ] `Socket::leave_multicast_v

[2020-12-21 10:43] cppforliving opened #158 "Missing tag for version 0.3.18"

[2020-12-21 11:24] Thomasdezeeuw commented on #158
v0.3.18 and v0.3.19 has been pushed: https://github.com/rust-lang/socket2/tags.

[2020-12-21 11:24] #158 closed

[2020-12-21 11:25] #53 closed

[2020-12-21 13:23] Thomasdezeeuw commented on #85
@kallisti5 @jessicah is there any way we can setup CI for Haiku (see #78)?

[2020-12-21 13:25] Thomasdezeeuw commented on #86
@bltavares what concretely has to be done to solve this issue? In other words what is socket2 missing (on the master branch)?

[2020-12-21 13:26] Thomasdezeeuw commented on #34
@Wodann do you still want to merge this with socket2? Or do you think it's best to continue living in its own crate?

[2020-12-21 13:34] Thomasdezeeuw commented on #49
@zonyitoo still interested in contributing this?

[2020-12-21 13:36] zonyitoo commented on #49
I made a few steps but couldn't find a good design for it.

[2020-12-21 14:07] bltavares commented on #86
I think we could close the issue, as it is already possible to use the `AsRawFd` to access things from a `socket2::Socket`, but there are a few things that could be ported over to socket2, but I'm not sure if that is the intention of the crate.

- Expose [to_s_addr](https://github.com/bltavares/multicast-socket/blob/d62ec76551b050364bacf4f9540492279644077c/src/win.rs#L443-L449) to avoid copy-and-p

[2020-12-21 16:24] kallisti5 commented on #85
Hi! We do actually have package Haiku builder nodes, but they're leveraging our native ports (haikuporter) system.
We do support running tests however in it:
  https://github.com/haikuports/haikuports/blob/master/dev-lang/openjdk/openjdk14-14.0.2.12.recipe#L238

What CI/CD are you using?   Haiku has full virtio support, and runs fine in cloud environments.
  I could go to Haiku, Inc. to see if we'

[2020-12-22 05:40] KodrAus commented on #78
cc @rust-lang/infra I think we have a few repos in `rust-lang` with fairly extensive CI suites. Can we think of any examples that we could use to bootstrap some broader CI here? I'm thinking particularly of iOS...

[2020-12-22 11:38] Thomasdezeeuw commented on #85
@kallisti5 currently we're using GitHub Actions. I don't think we need anything dedicated, currently GitHub Actions completes in ~1 min. libc seems to use Docker https://github.com/rust-lang/libc/tree/master/ci, does Haiku run in that? Issue #78 tracks CI support, if there is anything you can do that would be great and we can keep socket2 for Haiku working.

[2020-12-22 11:39] Thomasdezeeuw commented on #49
We could just expose the system calls/flags if we can't get a nice cross-platform API.

[2020-12-22 18:27] kallisti5 commented on #85
Hi!

Haiku's not Linux (we have our own kernel, syscalls, and standard libraries), so we really can't run in containers.

Haiku easily boots in qemu and other full emulation and is fully POSIX compliant with an SSH server running for remote command execution.

There are working vagrant boxes for Haiku, and we have a pretty rich software ecosystem python, ruby, (early) Rust, (early) Golang support,

[2020-12-23 19:29] Wodann commented on #34
I've honestly not had time to finish the conversion, since I originally started on it. As such, feel free to close the issue.

[2020-12-23 19:42] #34 closed

[2020-12-25 11:51] Thomasdezeeuw commented on #85
@kallisti5 libc also seems to run [NetBSD](https://github.com/rust-lang/libc/tree/master/ci/docker/x86_64-rumprun-netbsd) and [Redox](https://github.com/rust-lang/libc/tree/master/ci/docker/x86_64-unknown-redox) in docker, that's why I asked. Do you know of an example Rust project that uses QEMU (or something else) to test on Haiku from which we can setup our own CI for Haiku?

[2020-12-25 11:57] Thomasdezeeuw commented on #86
Is `SockAddr::{family, len, as_ptr}` sufficient for this?
https://github.com/rust-lang/socket2/blob/9c4a404d5e44df1ecc56d62d35ee22109a886b5f/src/sockaddr.rs#L65-L78

A pr for this would definitely be accepted.

These would be a bit harder but we can work on it. At the very least we could expose the OS specific functions.

We expose `Socket::recv_with_flags`:
https://github.com/rust-lang/socket2/bl

[2020-12-25 12:50] Thomasdezeeuw opened #166 "Rethink OS specific API location"
Currently Unix/Windows specific API is added in the `sys/*.rs` files. However recently the `Socket` API has been split in groups, e.g. options in `SOL_SOCKET`, `IPPROTO_IP`, etc. I think it would be better to just put the API in `src/socket.rs` where most (potential) contributors would expect it.

[2020-12-25 12:53] Thomasdezeeuw opened #167 "Use doc_cfg on docs.rs"
Doc: https://doc.rust-lang.org/unstable-book/language-features/doc-cfg.html

An example from Mio: https://docs.rs/mio/0.7.6/mio/, https://github.com/tokio-rs/mio/blob/ec28a8dcdd09bf2d7ad4030b7330c86834827124/src/lib.rs#L72.

[2020-12-25 12:53] Thomasdezeeuw opened #168 "Release v0.4.0"
It think the crate is nearly ready for a v0.4.0 release, the following is left to do.

* [x] Contributing guide. The crate has a somewhat unusual structure and this should be documented properly. Pr: #175.
* [x] Changelog. Currently the crate doesn't have one, but we've got to start one. Pr:  #177.

Moving the following to a future release:

* [ ] #166.
* [ ] #167.

[2020-12-25 17:43] kallisti5 commented on #85
ooh.. that's new.  Let me see what "redoxer" is doing.  It would be super handy if we could do something similar

[2020-12-26 14:09] Thomasdezeeuw opened #169 "CI check of Redox and Fuschia is broken"
See https://github.com/rust-lang/socket2/runs/1608768010. It has errors, but still gives an OK result.

[2020-12-26 15:03] #169 closed

[2020-12-26 15:10] tamird commented on #169
Probably should keep this issue open until the CI is passing, yeah? For Fuchsia, that requires https://github.com/rust-lang/libc/pull/2010 and https://github.com/rust-lang/libc/pull/2011.

[2020-12-26 15:18] Thomasdezeeuw commented on #169
@tamird I'm tracking it in https://github.com/rust-lang/socket2/issues/78.

[2020-12-26 15:19] Thomasdezeeuw commented on #169
This is issue was just that even if the check failed the CI would report an OK status, #78 is tracking CI support for various targets.

[2020-12-27 13:15] Thomasdezeeuw commented on #166
If this is changed the contributing guide (pr #175) still mentions this split, so update that also.

[2020-12-28 12:39] Thomasdezeeuw commented on #97
#178 add this to the README, so I'm going to close this.

[2020-12-28 12:39] #97 closed

[2020-12-28 12:47] Thomasdezeeuw opened #179 "Fix building on Fuschia"
This is blocked on rust-lang/libc#2010 and rust-lang/libc#2011.

[2020-12-28 12:55] Thomasdezeeuw opened #181 "Fix building on Redox on Rust stable"
This is blocked on rust-lang/libc#2012.

[2020-12-28 13:00] Thomasdezeeuw commented on #168
v0.4.0-alpha.1 has been released.

[2021-01-05 13:23] Thomasdezeeuw opened #188 "Maybe return RecvFlags on Socket::recv and related methods"
Currently it's only returned by vectored I/O, but it's just as useful with non-vectored I/O.

[2021-01-06 22:32] oblique opened #190 "Support for connect_timeout in 0.4"
As I saw in 0.4 changelogs `Socket::connect_timeout` was removed because it was not a low-level function but a combination of system calls. This is true, however a lot of people may need this functionality.

For someone to implement this and make it cross-platform, it will be troublesome. So can we have it back? Maybe we can have it in a new crate? For example in `socket2-util` crate and in `Socke

[2021-01-08 12:44] #179 closed

[2021-01-08 13:29] Thomasdezeeuw commented on #190
Ok, `Socket::connect_timeout` can come back. @oblique do you want to create a pr for it? The code was removed in commit 57d29ea60c86a565e6eda4abc48c0e6698bdbea2, but it can do with a bit of an update.

[2021-01-08 15:38] Thomasdezeeuw commented on #78
@KodrAus, @rust-lang/infra a little update: tier 2 targets are now all `cargo check`ed, but if it's possible to actually run the tests somehow I would prefer that.

[2021-01-08 15:44] tamird commented on #168
@Thomasdezeeuw would you mind releasing v0.4.0-alpha.2 to pick up the recent Fuchsia fixes?

[2021-01-08 15:54] Thomasdezeeuw commented on #168
@tamird done.

[2021-01-08 16:39] oblique commented on #190
Yes sure. Should I put it in `Socket` struct?

[2021-01-08 16:48] Thomasdezeeuw commented on #190
You can put on the `Socket` struct.

[2021-01-11 03:16] KodrAus commented on #78
@Thomasdezeeuw I'm guessing it's more the OS than the architecture that you're interested in for the tier 2 targets?

It looks like we might be able to [use MacOS workers in GitHub Actions to run some of the BSDs](https://github.com/vmactions/freebsd-vm). Alternatively, Travis CI does seem to support FreeBSD (although I can't find any docs on it), which we do still use in some repos here in `rust-

[2021-01-11 12:08] Thomasdezeeuw commented on #78
Yes let's start with the OS. I think if we can run tests on all supported OSs, on any architecture, we can ensure the functionally works. Than `cargo check` would be enough for different architectures just to make the we got the `libc` definitions and functions right.

There is also https://cirrus-ci.org/ for FreeBSD, e.g. Mio uses the following file: https://github.com/tokio-rs/mio/blob/04050dbd8

[2021-01-11 13:42] #190 closed

[2021-01-16 20:19] zaphar opened #199 "Add Support for ICMPv6 filters on raw sockets"
Since ICMPv6 has man more message types than ICMPv4 a raw ICMPv6 socket will by default receive all the ICMPv6 messages. While it's possible to filter them all yourself it seems like it might be better to add support for the ICMPv6 filters as referenced here: https://tools.ietf.org/html/rfc2292#section-3.2 I believe windows has a similar facility as well.

[2021-01-17 04:10] Milerius opened #200 "Unable to target wasm"
with the command:  `cargo +nightly build --target=wasm32-unknown-unknown --verbose`

i got:

[code]

  Did i miss something ?

[2021-01-17 11:18] Thomasdezeeuw commented on #200
Wasm is not supported as it doesn't implement sockets.

[2021-01-17 11:18] #200 closed

[2021-01-17 11:19] Thomasdezeeuw commented on #199
Socket2 doesn't implement the RFC itself, it's a wrapper around system calls. So if the OSs provide a way to filter ICMP packets feel free to open a pr to add this.

[2021-01-19 19:02] Thomasdezeeuw commented on #188
This would mean we need to change the underlying system call to `recvmsg`, so let's not do this.

[2021-01-19 19:02] #188 closed

[2021-01-20 13:03] SoniEx2 opened #202 "Support basic SCTP over plain/legacy sockets"
Using just the basic socket APIs like connect/bind/send/etc it is possible to interact with SCTP sockets. While you don't get the full SCTP feature-set when using them, nevertheless they do work, so... thoughts?

[2021-01-20 13:08] Thomasdezeeuw commented on #202
Prs would be accepted.

[2021-02-08 12:19] Thomasdezeeuw opened #207 "Socket::(set_)linger on macOS doesn't set it value in seconds"
It uses `SO_LINGER`, but should use `SO_LINGER_SEC`.

Related https://github.com/tokio-rs/mio/issues/1454.

[2021-02-09 21:19] #207 closed

[2021-03-02 12:35] cheako opened #209 "Make clear that Unix Sockets are not supported."
I had to poke around a bit in the API documentation to reach the conclusion that Sockets2 wasn't what I wanted.

I'm looking for a crate that combines Inet and Unix sockets into a single abstraction, pivoting on a feature.

[2021-03-02 12:45] Thomasdezeeuw commented on #209
But Unix sockets are supported, via `Socket::unix` or `Socket::pair`. What functionality are you missing?

[2021-03-13 17:25] Thomasdezeeuw commented on #209
@cheako I don't what I can do for this issue, Unix sockets are very much supported.

[2021-03-13 17:25] #209 closed

[2021-03-13 17:31] Thomasdezeeuw opened #211 "Looking for additional maintainers"
Currently I'm the only person that maintain this crate. Since the number of issues/prs is low this isn't a problem from a work-load perspective, but code I write often doesn't get a proper review as there is no-one to do so (beside myself).

If you're willing to help in reviewing please leave a comment.

If you have knowledge about a specific OS, especially a lesser used one, and you're willing to

[2021-03-13 17:34] Thomasdezeeuw opened #212 "Tracking issue for socket2 based standard library"
I intend to use socket2 in the standard library, however the crate is current not ready for it. This issue tracks all the issues that need addressing before the standard library can be based on socket2.

* [ ] Additional maintainers: #211.
* [ ] Proper documentation of supported OS (versions): #127.
* [ ] Additional testing: #156.

If you have additional issue that need to be added to this list pl

[2021-03-13 17:36] Thomasdezeeuw commented on #56
Continuing in #212.

[2021-03-13 17:36] #56 closed

[2021-03-13 17:36] #168 closed

[2021-03-17 00:59] zonyitoo opened #213 "Missing SO_INCOMING_CPU compiling with armv7-unknown-linux-musleabi"
[code]

This was originally found in https://github.com/shadowsocks/shadowsocks-rust/issues/459 .

[2021-03-17 02:45] zonyitoo commented on #213
Changed in libc is already merged. Consider fixed the lowest libc version in the next release.

[2021-03-17 08:58] Thomasdezeeuw commented on #213
Thanks for finding and solving the problem @zonyitoo.

[2021-03-19 08:48] oherrala commented on #213
Sorry to borrow this issue, but I found out `aarch64-unknown-linux-musl` and `x86_64-unknown-linux-musl` targets are also broken the same way and made a pull request to `libc` crate to get `SO_INCOMING_CPU` implemented there.

PR: https://github.com/rust-lang/libc/pull/2119

[2021-03-25 16:20] decathorpe opened #216 "0.4.0: sys::in_addr_convertion test fails on s390x / IBM System Z (big-endian)"
[code]

The test passes on on all little-endian architectures I have access to.

- Looking at the code, the `to_in_addr` function uses `from_ne_bytes` (equivalent to big-endian?).
- According to std sources, `Ipv4Addr::octets()` returns the bytes in network-endian order, so that's good.

I think the explicitly "shift-constructed" expected u32 value has the wrong byte order for BE systems, which is

[2021-03-25 20:21] Thomasdezeeuw commented on #216
For reference on the current master: https://github.com/rust-lang/socket2/blob/b1479fffa0749147eabd15ad9038d0f9a0cc7825/src/sys/unix.rs#L1450

Do the remainder of the tests pass? Because it might be that the expected value is invalid. Maybe we should use the array syntax, i.e. `[127, 0, 0, 1].to_ne_bytes()`. Could you try that?

Also does `in6_addr_convertion` pass? That uses an array for the expe

[2021-03-25 22:12] decathorpe commented on #216
Yes, all other tests (including sys::in6_addr_convertion) pass.

I had to do it the other way round ([u32; 4] does not implement to_ne_bytes, so it's a.to_ne_bytes() compared to an array), but I got it to work on both x86_64 and s390x. I'll send a Pull Request :)

[2021-03-26 09:13] fbecart commented on #213
Until the next version of libc is released, is there a known workaround, such as pinning a specific version of libc or socket2?

[2021-03-26 10:48] Thomasdezeeuw commented on #213
@fbecart can you run `cargo update`, updating the libc crate? That should resolve this issue.

[2021-03-26 11:46] fbecart commented on #213
Thank you @Thomasdezeeuw for pointing me in the right direction. I realize the problem is currently fixed for a specific set of architectures only. I'm building for `i686-unknown-linux-musl`, for which an issue likely still exists. I'll redirect my attention to `libc`.

[2021-03-27 20:21] #216 closed

[2021-03-31 01:43] zonyitoo commented on #213
There are still many architectures missing `SO_INCOMING_CPU` in the `libc` crate. Could @Thomasdezeeuw make sure that all Linux-like platforms have this definition in `libc`?

[2021-03-31 02:38] zonyitoo commented on #213
I am not sure that `target-env = "uclibc"` has `SO_INCOMING_CPU` definition. It is left for others to make patches. :)

[2021-03-31 08:26] Thomasdezeeuw commented on #213
I think this issue is really with libc, not with socket2.

[2021-04-02 09:30] JinAirsOs commented on #213
I meet this issue too.
[code]

[2021-04-02 09:30] JinAirsOs commented on #213
how to work around?

[2021-04-02 09:48] Thomasdezeeuw commented on #213
@JinAirsOs you can disable the `all` feature for now to work around it. Otherwise I think https://github.com/rust-lang/libc/pull/2135 would fix this issue.

[2021-04-06 00:57] #213 closed

[2021-04-13 17:32] ghost opened #218 "`SockRef::from`, `Socket::sendfile` and other functions that operate on arbitrary file descriptors or `SOCKET`s potentially should be unsafe"
See rust-lang/rust#72175 and nix-rust/nix#1421: it seems an external library is allowed to assume a file descriptor is *private*, for example:
[code]
Here, the safe `SockRef::from` allows to crash a (fake) "external library" by letting it dereference a null pointer using only safe code. Making functions that accept arbitrary file descriptors or `SOCKET`s unsafe can probably solve this problem.

[2021-04-13 17:44] Thomasdezeeuw commented on #218
I have no idea what you mean with *private*, but if you mean shouldn't be modified by external (outside of the type's `impl`s) that it should not implement `AsRawFd`/`AsRawSocket`. If it does implement `AsRawFd`/`AsRawSocket` that it must be able to deal with the situation it's actually used.

The `SocketRef::from(&3)` should be unsafe, but not because `SocketRef::from` should be unsafe. Because y

[2021-04-13 17:53] hyd-dev commented on #218
Fair. I think at least something in the `3_i32` -> ... -> `SockRef` path should be unsafe. Maybe a wrapper type that is unsafe to construct from an arbitrary number?

[2021-04-13 18:46] sunfishcode commented on #218
It turns out that `RawFd` itself [implements](https://github.com/rust-lang/rust/pull/76969) `AsRawFd`. So `AsRawFd` doesn't say anything about the validity or ownership of the returned `RawFd` value.

rust-lang/rust#72175 is still being discussed, and looks like it may lead to an RFC. If that happens, and if the RFC is accepted, functions that operate on `RawFd` values should be `unsafe`. That inc

[2021-04-15 19:11] sunfishcode commented on #218
I'm working on [a draft of a proposal](https://github.com/sunfishcode/rfcs/blob/main/text/0000-io-safety.md) to add new official wording about `RawFd` to Rust.

In particular, this proposal would mean functions like `SockRef::from` with `AsRawFd` arguments should be marked unsafe, or migrated to alternatives. But the upside would be clearer guarantees for many use cases. I'd be interested in any f

[2021-04-16 15:33] Thomasdezeeuw commented on #218
I don't have time to look through the entire proposal, but `SockRef::from` will remain a safe function. In my opinion the `AsRawFd`/`AsRawSocket` documentation should be clearer that the returned fd/socket should be valid. The current documentation for `AsRawFd` says the following

The second sentence says to *me* that the implementation needs to ensure the file descriptor is valid (while the obje

[2021-04-16 18:24] sunfishcode commented on #218
Instead of making it `unsafe`, what would you think about changing `SockRef::from` to use [`AsUnsafeSocket`] in place of `AsRawFd`?

`AsUnsafeSocket` is implemented for all the relevant std types, `TcpStream`, `TcpListener`, `UdpSocket`, `UnixStream`, `UnixListener`, and `UnixDatagram`. For other types, the only thing needed is to add an impl [`OwnsRaw`], so types like `socket2::Socket` and others

[2021-04-17 19:27] Thomasdezeeuw commented on #218
I don't think socket2 should dependencies outside of libc/winapi. Furthermore exposing those dependencies in a public API is a bad idea as we're then tied to a fixed version of the crate (i.e. we couldn't update to unsafe-io v2 without also updating to socket2 v2).

I'm also not convinced that `AsUnsafeSocket` is an improvement of `AsRawFd`. I think the best way forward is improving the documentat

[2021-04-19 20:22] sunfishcode commented on #218
Right now, it's possible for code in one library to use functions like `SockRef::from` to break the encapsulation of code in another library without itself using any `unsafe`. It's a small loophole in Rust, and it is fixable, so I'm interested in whether any of the possible fixes are practical, rather than just leaving the loophole open and documenting it.

One option would be to propose adding th

[2021-04-20 08:17] ChenhuiZhang opened #219 "How should I create a PF_NETLINK socket by socket2?"
The Domain seems only support IPv4 and IPv6, could I change the value to NETLINK? Thanks.

[2021-04-20 09:47] Thomasdezeeuw commented on #219
You can use `let domain: Domain = libc::AF_NETLINK.into()` to create a `Domain` from an arbitrary `i32` as `Domain` implements `From<i32>`.

Also an addition of a `NETLINK` constant would be welcome.

[2021-04-20 09:54] Thomasdezeeuw commented on #218
This is not true. If the encapsulation implements `AsRawFd`, which allows external access to the file descriptor, it **must** be able to handle changes to the file descriptor, e.g. options are set on it. If it can't deal with this it shouldn't implement `AsRawFd`, it's as simple as that.

It's not a loophole, it's by design. It's required to deal with C/Unix/Windows I/O model of using integers/voi

[2021-04-20 12:55] sunfishcode commented on #218
Suppose library A holds a `RawFd` it never exposes, which happens to have the value 4. Suppose library B does this:
[code]
This compiles on stable Rust today. B can read A's otherwise encapsulated data, with no `unsafe` of its own.

Another example would be B accidentally holding a `RawFd` value after closing it, which then aliases a newly created file descriptors in A. POSIX considers all this de

[2021-04-20 13:18] Thomasdezeeuw commented on #218
This comment by withoutboats (not pinging) points to the core issue: https://github.com/rust-lang/rust/pull/76969#issuecomment-695999201, that `RawFd` is just a type alias. In your example you're creating a `RawFd` from nothing: that should be unsafe, but isn't. That is not a problem with socket2, but one with std lib, which due to the v1 stability guarantees can't be changed.

We should clearly d

[2021-04-20 15:32] sunfishcode commented on #218
Integer literals are one example. Use-after-`close` is another. Arithmetic and deserialization are others.

I agree, we could better document the current situation. At the same time, this problem has the same form as problems with raw pointers, such as dangling and aliasing, which Rust does more than just document. Fixing it seems desirable in principle. And it seems possible. Is it practical?

I

[2021-04-21 02:08] shangsony opened #220 "error[E0658]: `match` is not allowed in a `const fn`"
error[E0658]: `match` is not allowed in a `const fn`
   -->/socket2-0.4.0/src/lib.rs:156:9
    |
156 | /         match address {
157 | |             SocketAddr::V4(_) => Domain::IPV4,
158 | |             SocketAddr::V6(_) => Domain::IPV6,
159 | |         }
    | |_________^
    |
    = note: see issue #49146 <https://github.com/rust-lang/rust/issues/49146> for more information

   Compiling time v

[2021-04-21 06:52] ChenhuiZhang commented on #219
Thanks for the info. Now it works.

[2021-04-21 06:52] #219 closed

[2021-04-21 09:14] Thomasdezeeuw commented on #220
Socket2 v0.4 requires rustc v1.46.

[2021-04-21 09:14] #220 closed

[2021-04-23 13:49] RalfJung commented on #218
I strongly disagree. `AsRawFd` for a file descriptor is the equivalent of casting a reference to an integer. The latter is a *safe* operation, and so is the former. The inverse, turning an integer to a reference, is unsafe -- not just because the integer could be dangling, but also because that memory could be owned by other parties that e.g. have `&mut` or `Box` pointers.

The situation here is e

[2021-04-27 06:03] danielrh opened #223 "Socket::recv_from taking a &mut [u8]"
Starting in version 0.4.0 there's no safe way to pass a `&mut [u8]` into recv_from, since RecvFrom takes `&mut [MaybeUninitialized<u8>]` and rustc does not understand if the library potentially writes uninitalized bytes *to* the buffer.

Would it be possible to return the signature of the function to the way it was in 0.3.0 so that we can safely call recv_from? Perhaps a recv_from_uninitialized_wi

[2021-04-27 10:33] Thomasdezeeuw commented on #223
Socket2 makes the guarantee that no uninitalized bytes are written to the buffer, but indeed rustc doesn't understand this.

I'm afraid since socket2 is a low level library we focus on those "hyper-tuned" application. On top of socket2 nicer API can be build, so I won't change it back. However I'm open to additional API that works with `&mut [u8]`, for example `Socket` already implement `io::Read`

[2021-04-27 10:46] Thomasdezeeuw commented on #218
I see your point and partially agree. I don't working with fd should be *as* unsafe as it can/should never cause memory unsafety as the OS always checks the validity of the file descriptor and returns an error if it's invalid. But I do see the point your making.

I have to disagree here. If a type needs to hold some invariant it shouldn't allow arbitrary access to the underlying data. Take `NonZer

[2021-04-27 14:50] sunfishcode commented on #218
To eliminate the need for a dependency, I've now added the `OwnsRaw` trait to my RFC draft. So if the RFC is accepted, and once we have `OwnsRaw` impls for `mio::net::TcpStream`, `socket2::Socket`, and other important types, the new API could look like this:

[code]

That would meet all three requirements. Does that look reasonable?

[2021-04-27 21:07] Thomasdezeeuw commented on #218
I think so after a could look at the RFC (https://github.com/sunfishcode/rfcs/blob/3abe7cc704decf63beee16489123e0f2c996f6f3/text/0000-io-safety.md). Also a side note: you might want to include (parts of) @RalfJung comment https://github.com/rust-lang/socket2/issues/218#issuecomment-825671938 in the RFC.

In the mean time any suggestions? We could simply add a trait like `OwnsRaw` to socket2 as a s

[2021-04-27 23:43] sunfishcode commented on #218
Cool, and good idea, I've now incorporated more of those ideas.

You could do that if you want, however I also think it'd be ok to just wait to see how the RFC goes before making any changes here.

[2021-04-28 18:10] KaiJewson opened #225 "Rename Domain to Family"
The word "domain" is less common than "family" when talking about this option: in `AF_*`, `sa_family_t`, [Winsock2's `socket` docs](https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-socket) and [socket(7)](https://man7.org/linux/man-pages/man7/socket.7.html). As far as I can tell the only time `domain` is actually used is in the parameter listed on `socket(2)`, but it still r

[2021-04-29 09:49] Thomasdezeeuw commented on #225
I don't really have a strong preference here. But the domain terminology is used in `SO_DOMAIN`, which is the name of the socket option to retrieve the domain (e.g. `AF_INET6`).

The `socket(7)` manual uses the both, e.g. section Socket address structures (emphasis mine):

So I think you're both used.

As for the switch to `sa_family_ts`: `socket(2)` accepts an `int`, which is the main use of `Dom

[2021-04-29 13:54] pepinns opened #226 "support setting IP_TRANSPARENT on sockets"
This socket option allows you to setup a transparent proxy on linux.

Testing this is somewhat difficult to do in an automated fashion as it requires at least CAP_NET_ADMIN permissions to bind the socket, as well as iptables rules to make the traffic flow.

I have the code ready to set the socket option, and verified it works, but need some guidance on how it should be documented and tested to be

[2021-04-29 13:59] pepinns commented on #226
opened https://github.com/rust-lang/socket2/pull/227

[2021-04-29 14:20] Thomasdezeeuw commented on #226
You're 90% there I've reviewed #227.

[2021-04-29 14:52] pepinns commented on #226
Thanks for the review.  I believe I've addressed everything.

I'm new to rust so curious about the 'all' feature here.

Is it the intention that the 'standard' or 'default' featureset has only things that are available on ALL supported operating systems?  And if you wanted OS-specific features you'd have to ask for the 'all' feature from this crate?

[2021-04-30 09:21] Thomasdezeeuw commented on #226
Closed by #227.

[2021-04-30 09:21] #226 closed

[2021-04-30 09:23] Thomasdezeeuw commented on #226
The "all" feature is for function/options, such as this one, that isn't support on on the three major OSs (Linux, macOS and Widnows). When you disable the "all" feature (the default) you know that your application will work on at least the those three OSs (bar any different in same-named options etc.). Enabling the "all" feature enables more options, but it requires the user of the crate to ensure

[2021-04-30 16:27] KaiJewson commented on #225
Ah, if you want to keep `Socket::new`'s first parameter as an `int` it's probably best to keep it the way it is then.

[2021-04-30 16:27] #225 closed

[2021-04-30 16:40] pepinns commented on #226
Thanks for your time, I appreciate the feedback and explanation.

[2021-05-01 09:24] RalfJung commented on #218
`NonZeroUsize` can be converted to `usize` in safe code. In other words, even types that need to hold invariants can safely and reasonably provide *read-only* access to their internal data. That is exactly what `as_raw_fd` does.

I guess your proposal uses the `'s` lifetime of `SocketRef` to ensure that the ref does not outlive the owned FD?

---

Btw, there is another aspect of I/O safety that is

[2021-05-01 09:53] Thomasdezeeuw commented on #218
What I meant was that `NonZeroUsize` doesn't hand out `&mut usize`, because it couldn't ensure the invariant. In my opinion `AsRawFd` is similar to handing out a `OsLock<FileDescription>`. Yes, access to Rust's memory isn't possible with just a `RawFd`, but the implementer should known mutable access in possible to the kernel's file descript*ion* (the data the kernel holds for each file/socket/etc

[2021-05-01 10:06] RalfJung commented on #218
I think here we are getting to the bottom of the problem -- the ownership associated with the return value of `AsRawFd` is unspecified. This is the exact problem that C has with pointers (types don't say who owns what); Rust solved that with `Box` and reference types.

You interpret it to be actually returning some form of ownership (even though I am not sure what the `OsLock` is about). However,

[2021-05-01 11:29] Thomasdezeeuw commented on #218
I interpret it not about ownership, but it's about access. With `OsLock` meant that the OS serialises access to the file desctipt*ion* (avoiding data races inside the kernel etc.), so it's like handing out a lock. I shouldn't been clearer about this.

Indeed that why `SockRef` has a lifetime. In a sense `SockRef` is already the idealized return type to me. It holds the raw fd, but has a lifetime t

[2021-05-01 12:42] RalfJung commented on #218
One could say the same thing about pointers. :) You don't care about the address itself, you care about the data the ptr gives you access to. FDs might be special but not more special than pointers.

In Rust, we all agree that returning a `usize` that represents the underlying address of some data in memory does *not* implicitly give you the right to do anything with that address. You need to care

[2021-05-03 03:05] coolreader18 opened #229 "Unsoundness in `<SockRef as From<&AsRawFd>>::from`"
You can do something like:
[code]
With the changes in #222

[2021-05-03 09:40] Thomasdezeeuw commented on #229
This is the same problem as being discussed in #229, `SockRef::from` needs to ensure the `RawFd` is valid, but currently doesn't.

[2021-05-03 09:40] #229 closed

[2021-05-03 09:41] Thomasdezeeuw commented on #229
Whoops I meant #218.

[2021-05-03 10:06] Thomasdezeeuw commented on #218
Indeed both pointer and fds are special cases on integers.

But we can't write to integer 5 without unsafe code (well we can with the current `SocketRef::from`, but we already established that is unsound and undesired), you need to call the unsafe `libc::write` function or similar. But I very much agree that Rust would benefit from a ownership, lifetime and borrowing systems (equivalents) for file

[2021-05-03 11:20] Thomasdezeeuw opened #231 "Tracking breaking changes for v0.5"
List of (possible) breaking changes for v0.5:

* Make `SockAddr::vsock` infallible (see #230).
* Rename `SockAddr::init` to `SockAddr::try_init` to reflect it returns a result (see discussion in #228).

[2021-05-03 14:22] coolreader18 commented on #229
Ah, sorry about that.

[2021-05-03 14:24] coolreader18 commented on #229
Oh, wait, I'll add this to that discussion, but this is actually *unsound*, not just questionably unsafe - because of the niche optimization from #222, you can create an invalid value in safe code.

[2021-05-03 16:18] Thomasdezeeuw commented on #229
You're right using `-1` is even worse, but as #222 is talking about a redesign I though it best to not have two concurrent threads talking about the same thing. But this is definitely blocking a v0.4.1 release (which would include #222).

[2021-05-06 07:57] #167 closed

[2021-05-06 22:49] YorickPeterse commented on #211
I use socket2 for https://inko-lang.org/ / https://gitlab.com/inko-lang/inko. I also have quite a bit of experience with the POSIX socket API (a few years back I re-implemented the Ruby socket API in Ruby itself for [Rubinius](https://github.com/rubinius/rubinius)). I'm happy to help out where possible :smiley:

[2021-05-07 12:21] Thomasdezeeuw commented on #211
@YorickPeterse good to hear. Socket2 isn't a lot of work to maintain, it's mainly for the case when I'm not available. Feel free to comment/review issues and prs when you have some time.

[2021-05-13 09:30] Thomasdezeeuw commented on #218
Pr #237 adds an example and some more docs around the unsafe/unsound usage of `SockRef::from` as a stop-gap for v0.4. Hopefully we can figure out a proper fix for v0.5.

[2021-05-18 14:50] chansuke commented on #211
I'd be happy to help out too 🥰

[2021-05-23 02:45] tychota commented on #220
Note: the readme speak about **minimum** supported version of rust.

![image](https://user-images.githubusercontent.com/13785185/119246405-a34f7180-bb81-11eb-9bf8-a6eda42618d3.png)

For me that means that new version should works.

Except they doesn't:

![image](https://user-images.githubusercontent.com/13785185/119246378-5cfa1280-bb81-11eb-8173-5ce29f8b6a71.png)
![image](https://user-images.githu

[2021-05-23 02:45] tychota commented on #220
@Thomasdezeeuw can you reopen ?

[2021-05-23 11:12] Thomasdezeeuw commented on #220
@tychota I think you're doing something wrong. socket2 rust on rustc 1.46 stable. Are you sure you're calling the same rustc?

P.S. could you also not use images of texts, it's very annoying to read.

[2021-05-23 12:44] tychota commented on #220
@Thomasdezeeuw i will try to make a minimal example that reproduce and then report here.

My bad for the image, i will paste texte next time.

[2021-05-23 12:47] Thomasdezeeuw commented on #220
@tychota you're really running a different/incorrect rustc binary. Per the 1.46 blogpost: https://blog.rust-lang.org/2020/08/27/Rust-1.46.0.html#const-fn-improvements, `match` statements are `const`, which the error is about.

[2021-05-23 13:11] tychota commented on #220
All clear. I indeed has an old rust binary somewhere.

Sorry for the noise.

[2021-05-31 01:59] zrz4066 opened #239 "why sockaddr.as_socket_ipv4() output None in the following code ?"
why  sockaddr.as_socket_ipv4()   output None  in  the following code ?  it should  return remote IP address.

let (size, sockaddr) = socket.recv_from(x.as_mut()).expect("cannot recv");
        let now = chrono::Local::now();
        let resp:String=unsafe {
            let mut ss=Vec::<char>::new();
            for i in 0..size{
                let x2 =  x[i].assume_init() as char;

[2021-05-31 08:34] Thomasdezeeuw commented on #239
Is `socket` a UDP socket? Could you show the creation of the socket?

[2021-05-31 09:03] zrz4066 commented on #239
socket is TCP socket. Here is the test code

fn main() //-> std::io::Result<()>
{
// This IP is unroutable, so connections should always time out.
    let addr = "192.168.3.202:8888".parse::<SocketAddr>().unwrap().into();

    let socket = Socket::new(Domain::IPV4, Type::STREAM, None).unwrap();
    socket.reuse_address();
    match socket.connect_timeout(&addr, Duration::from_millis(250)) {

[2021-05-31 09:04] zrz4066 commented on #239
socket is TCP socket. Here is the test code

fn main() //-> std::io::Result<()>
{
// This IP is unroutable, so connections should always time out.
    let addr = "192.168.3.202:8888".parse::<SocketAddr>().unwrap().into();

    let socket = Socket::new(Domain::IPV4, Type::STREAM, None).unwrap();
    socket.reuse_address();
    match socket.connect_timeout(&addr, Duration::from_millis(250)) {

[2021-05-31 09:10] zrz4066 commented on #239
My Os is 64-bit Win10

[2021-05-31 09:23] Thomasdezeeuw commented on #239
@zrz4066 TCP is a stream based socket which means it only sends and receives packets from a single peer. Because it can only send to or receive from a single peer the address never changes, so `recv_from` doesn't return the address each time. For TCP socket you should use [`Socket::recv`](https://docs.rs/socket2/0.4.0/socket2/struct.Socket.html#method.recv) which only returns the number of bytes r

[2021-05-31 09:23] #239 closed

[2021-06-04 00:15] kallisti5 commented on #85
Latest results under master as of f7023b4c810eb7b0fedf23a1752461c41765c797

[code]

still looking at redoxer, it's not - not complex :-)

[2021-06-04 00:16] kallisti5 opened #240 "haiku: build failure using socket2 IovLen"
[code]

[2021-06-04 00:20] kallisti5 commented on #240
nevermind!  It looks like nielx fixed this 27 days ago :-)
https://github.com/rust-lang/socket2/commit/2843d44a3440a2d4b65bb15be275ec2e3e80ee4e

[2021-06-04 00:20] #240 closed

[2021-06-08 15:58] Thomasdezeeuw opened #244 "Blocking issues on master"
This is mostly a note to myself.

These are blocking issue for a new release, either v0.4.x or v0.5, that are currently on master.

* After pr #222 was merged issue #218 was made even worse as issue #229 shows. Either #222 must be reverted or #218 solved before another release.

[2021-06-29 22:36] agrover commented on #223
Is this no longer the case, then?

[2021-06-30 16:23] Thomasdezeeuw commented on #223
The crate made it a lot easier to work with uninitialised bytes, which is a pain using the sockets from stdlib, but I understand your pain.

[2021-07-10 11:32] NeilBotelho opened #247 "```SockAddr::unix()``` not found on linux"
When trying to use the  [unix()](https://docs.rs/socket2/0.4.0/socket2/struct.SockAddr.html#method.unix)  constructor for SockAddr, I get the error:
[code]
where ```ADDR``` is of type ```std::path::Path```

Additionally after running cargo doc, ```SockAddr::unix()``` is not in the documentation even though it is in the online documentation.

### System:
- cargo 1.52.0
- rustc 1.52.1
- socket2  0.4

[2021-07-10 11:59] Thomasdezeeuw commented on #247
You'll need to enable the `all` feature to opt in API which isn't available on all OSs, such as this Unix only API.

[2021-07-10 12:27] #247 closed

[2021-07-10 16:09] Thomasdezeeuw commented on #129
Hasn't broken so far...

[2021-07-10 16:09] #129 closed

[2021-07-10 16:10] Thomasdezeeuw commented on #78
Don't think there is much left to do here, so closing.

[2021-07-10 16:10] #78 closed

[2021-07-10 16:10] Thomasdezeeuw commented on #212
I no longer have time for this.

[2021-07-10 16:10] #212 closed

[2021-07-26 02:59] chowdhury-bc opened #250 "Socket2-0.4.0 throwing error with "error[E0432]: unresolved import `crate::sys`""
|
5 | use crate::sys::{
  |            ^^^
  |            |
  |            unresolved import
  |            help: a similar path exists: `crate::socket::io::sys`

I have latest version rustc(1.53) and cargo(1.53) I am running it on macOS.

thank you for your help

[2021-07-26 16:41] Thomasdezeeuw commented on #250
Can you provide some more context? I can't really see the source of the error.

[2021-07-26 16:52] link2xt commented on #85
In `tcp_keepalive` the problem is this line:
https://github.com/rust-lang/socket2/blob/1c67209c2eda5708b3093900a59befbc4a981b13/src/sys/unix.rs#L881

This `if` corresponds to the case when `keepalive.time` is set. `keepalive.time` is the time the connection has to be idle before keepalives are sent. There is no such option on Haiku at all. The only option on Haiku related to keepalive is the call

[2021-07-27 00:02] chowdhury-bc commented on #250
Hi thanks for the response,
i am trying to build-bpf from this source,
https://github.com/solana-labs/example-helloworld/tree/master/src/program-rust

so if i run cargo build-bpf i get the above error. I have tried with both version of socket2 but same error.

[2021-07-27 16:50] Thomasdezeeuw commented on #250
Are you building for a target that is unsupported? You said your running on macOS, but if you building with a different target it might not be supported.

[2021-07-28 00:06] jkelleyrtp commented on #78
I believe WASI can be supported since their lib-c exposes sockets. I'd be interested in adding it.

[2021-07-28 07:50] Thomasdezeeuw commented on #78
Sounds good @jkelleyrtp. Although last I check (I think version 9/10) WASI didn't allow for the creation of sockets, however that could have changed. In either case the various socket options could still be useful.

[2021-07-28 16:56] #244 closed

[2021-07-28 18:23] link2xt opened #255 "socket2 0.4.1 does not compile on Haiku with feature `all`"
The problem is that since merging of #251 on this line `KEEPALIVE_TIME` is not defined on Haiku and OpenBSD:
https://github.com/rust-lang/socket2/blob/877a789982a87bb487381ada36f15c0786fa221b/src/sys/unix.rs#L871

[2021-07-29 08:50] #255 closed

[2021-07-30 15:52] ArnaudAmun commented on #250
Hi, I have the same issue.
Adding Solana-Cli to cargo.toml in an empty project and it failed to compile socket2 with the same error: `use of an undeclared crate or module sys`.
Using cargo build-bpf on a Linux machine

[2021-07-30 16:03] ArnaudAmun commented on #250
It also complains about the l.1648-1653: `expected struct Socket, found ()` and same for the other types.

[2021-07-31 11:35] Thomasdezeeuw commented on #250
Are you targeting an unsupported OS or special environment? I need more information, preferably an environment that can reproduce the error. I'm not going to debug another project with thousands of lines.

[2021-08-14 10:20] jsitnicki opened #257 "freebind option getter/setter actually get/set the reuseport flag"
We are passing an incorrect socket option level (`SOL_SOCKET` instead of `SOL_IP`/`SOL_IPV6`) and `SO_REUSEPORT` happens to have the same value as `IP_FREEBIND` on Linux:

[code]

[2021-08-14 19:58] Thomasdezeeuw commented on #250
Since there seems no more response I'm going to close this. It seems that your using a target that is neither Unix or Windows, which at the moment isn't supported.

[2021-08-14 19:58] #250 closed

[2021-08-16 02:31] cmcqueen opened #259 "Use of set_only_v6() in example code"
In the [example](https://docs.rs/socket2/0.4.1/socket2/#examples) code in `lib.rs`, it has these lines:

    socket.bind(&address.into())?;
    socket.set_only_v6(false)?;

Isn't it necessary for the call to `set_only_v6()` to be *before* the `bind()`?

[2021-08-16 16:17] Thomasdezeeuw commented on #259
Yes. Want to send a pr?

[2021-08-17 16:16] #257 closed

[2021-08-17 16:51] #259 closed

[2021-09-01 17:25] piegamesde opened #261 "From<Socket> methods are hard to discover"
The `From<Socket>` implementations are really hard to discover in the docs, due to the way they are rendered. It would be cool to have some words about the conversion (in both directions) together with an example in the struct's description.

[2021-09-01 17:42] Thomasdezeeuw commented on #261
@piegamesde a pr would be welcome.

[2021-09-03 08:22] urknall opened #262 "no method named `set_reuse_port` found for struct `Socket` under illumos"
I tried compiling libmdns under illumos:

   Compiling libmdns v0.6.1 (/root/libmdns)
error[E0599]: no method named `set_reuse_port` found for struct `Socket` in the current scope
  --> src/address_family.rs:31:16
   |
31 |         socket.set_reuse_port(true)?;
   |                ^^^^^^^^^^^^^^ method not found in `Socket`

error: aborting due to previous error

For more information about this er

[2021-09-03 09:06] urknall commented on #262
Overlooked UdpSocket comes from std::net

[2021-09-03 09:06] #262 closed

[2021-09-14 10:25] vityafx opened #264 "Can't build using musl as a build target."
So I am using github actions to build my crate and when running this step:

[code]

It fails with:

[code]
What could be wrong and how to fix it?

[2021-09-14 10:28] vityafx commented on #264
It wasn't related to clippy but rather to `stevenleadbeater/rust-musl-builder` step.

[2021-09-15 07:57] Thomasdezeeuw commented on #264
If you read the error it says `error[E0658]: 'match' is not allowed in a 'const fn'`. This is likely because your compiler is to old, as per the readme the minimum Rustc version for socket2 is 1.46. Have you tried updating your Rust version?

[2021-09-15 09:38] oherrala opened #265 "New release?"
There's a fix for OpenBSD in cddb67b8534a46a372beb9fd63c5ce8d1473cbda, but this has not been released. Without this some crates depending on `socket2` are not buildable in OpenBSD.

[code]

[2021-09-15 16:55] Thomasdezeeuw commented on #264
@vityafx any luck updating your Rustc toolchain?

[2021-09-15 17:14] #265 closed

[2021-09-15 17:15] Thomasdezeeuw commented on #265
Just released v0.4.2.

[2021-09-15 17:48] vityafx commented on #264
I guess I can't directly do anything with it as I just rely on the toolchain provided by a third-party github action. Thanks for confirming it is a compiler issue though.

[2021-09-15 17:48] #264 closed

[2021-09-15 18:44] oherrala commented on #265
@Thomasdezeeuw Thanks!

[2021-09-16 19:34] twitchax commented on #35
As far as I can tell, this is still an issue.  `socket2` fails to compile on wasm becaause the `sys` module is only imported for a `unix` or `windows` target.

[2021-09-16 20:13] Thomasdezeeuw commented on #35
@twitchax that's because wasm isn't supported.

[2021-09-17 05:16] twitchax commented on #35
@Thomasdezeeuw, I was mostly commenting because this issue was closed without explanation.  That would have been a helpful note to people who come across this issue. :)

[2021-09-17 13:09] Thomasdezeeuw commented on #35
To be fair the issuer closed it, not the maintainers but I understand. We should probably add a `compile_error` for unsupported targets to make it clear from the error message.

[2021-09-17 18:50] justinmchase commented on #35
Sorry, I think I just closed it because I didn't want to see it in my list of open issues anymore and nobody seemed to care about it.

[2021-09-17 18:56] twitchax commented on #35
@justinmchase, haha, no problem.

I think it is still something that would be nice.  There are a lot of projects that rely on `socket2` that cannot be used in `wasm` targets due to the lack of support here.  For example, I am testing how feasible it would be to use a project like `warp` or `rocket` in Rust-based CloudFlare Workers.

[2021-09-20 16:24] damirka commented on #35
Can confirm that it is an issue for some (if not many) people. I wonder if there is a way to nicely disable or put a placeholder for unsupported targets, so this functionality is disabled, but not blocking compilation of other crates. 🤔

[2021-09-20 16:45] Thomasdezeeuw opened #268 "Support wasm (in some form)"
We can support wasm via [wasi](https://docs.rs/wasi). Last I looked (for https://github.com/tokio-rs/mio/pull/1395, back in November 2020) it doesn't support creating sockets, but it does support some things like read/write.

Alternatively we could start with an implementation that just panics, just so socket2 can build on wasm.

[2021-09-20 16:46] Thomasdezeeuw commented on #35
I'm closing this in favour of https://github.com/rust-lang/socket2/issues/268 to track wasm support.

[2021-09-20 16:46] #35 closed

[2021-10-06 19:01] Thomasdezeeuw opened #269 "Consider moving to Tokio organisation"
The Tokio organisation has offered to support the socket2 library. I'm creating this issue to have an open discussion about it.

In the past their was were some opinions against doing this, I want to know if these are still present.

/cc @Darksonn

[2021-10-13 18:14] eddi0815 opened #270 "How to use MaybeUninit on the some functions"
Hallo,

as the title says I don't know how to use MaybeUninit in an idiomatic way. It is the first time I need to use it because of some functions in socket2. After some reading I implemented the following code snippet:

[code]
Is this the way to use it? Is there an approach to convert from MaybeUninit and to it witthout this unsafe blocks and this ugly casting?

Thanks

[2021-10-13 18:36] Thomasdezeeuw commented on #270
Hi @eddi0815 working with uninitialised buffer is a bit of a pain on stable Rust at the moment, but improvements are coming. For example using the unstable [`Vec::spare_capacity_mut`](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.spare_capacity_mut) function (but you could implement that yourself in a couple of lines).

[code]

Playground link: https://play.rust-lang.org/?version=nightl

[2021-10-15 15:41] eddi0815 commented on #270
Hi @Thomasdezeeuw ,

thanks for the hint. This looks much cleaner.

[2021-10-15 15:41] #270 closed

[2021-10-21 08:24] wladwm opened #272 "Seems that CI for FreeBSD is broken"
Hi guys!

Pls take a look at https://github.com/rust-lang/socket2/pull/271, seems that FreeBSD test is broken.

[2021-11-06 03:33] SeanOMik opened #274 "No method named `set_reuse_port` found for struct `Socket` in the current scope"
Trying to make a socket that can `reuse_address` and `reuse_port`. This is what I'm trying:
[code]

The error happens on `sock.set_reuse_port(true).unwrap();`, `set_reuse_address` works fine.

Here's the full error, but it doesn't tell you anything more:
[code]

[2021-11-06 10:57] Thomasdezeeuw commented on #274
You need to enable the `all` feature, see https://docs.rs/socket2/0.4.2/socket2/#features.

[2021-11-06 10:57] #274 closed

[2021-11-07 03:55] SeanOMik commented on #274
That worked thank you!

[2021-11-07 13:03] Thomasdezeeuw commented on #269
It's been a month, little to no comments. Not sure how to interpret that.

@rust-lang/libs team how do you feel?

[2021-11-09 01:48] robjtede commented on #269
I think that the rust community would, buy-and-large, trust the project that the rust compiler itself sits in (ie. rust-lang). Socket2 _feels_ like a project that has a wider scope than Tokio since it is more general in purpose. I would be surprised, even, to discover that such a project resides in Tokio's scope.

[2021-11-23 06:51] taiki-e commented on #269
I believe that what is proposed in [RFC3119 "Rust crate ownership policy"](https://rust-lang.github.io/rfcs/3119-rust-crate-ownership.html) (merged a few months ago) is enough to address [the original concerns from the tokio team](https://github.com/tokio-rs/mio/pull/1431#issuecomment-763861677), but it is not clear how long it will take to do.

[2021-11-28 14:57] Thomasdezeeuw commented on #269
The problem with RFC3119 is that I haven't seen a lot work being done in the area. I think generally people like the idea, but I'm not sure how time is spend actually implementing it all, as per the (lack of) comments on the tracking issue: https://github.com/rust-lang/rust/issues/88867.

For I think the plan is to not move socket2 and instead invite some maintainers from Tokio to this repo.

[2021-11-29 12:32] #272 closed

[2021-12-04 11:20] Thomasdezeeuw commented on #272
https://github.com/rust-lang/socket2/pull/276 Added CI support for FreeBSD using Cirrus-CI.

[2021-12-04 11:59] Thomasdezeeuw commented on #269
Closing this as we're not moving the socket2 crate.

[2021-12-04 11:59] #269 closed

[2021-12-11 05:00] lams2135 opened #277 "Cannot compile in Raspberry(arm64)"
Compiling socket2 v0.4.1
error: attributes are not yet allowed on `if` expressions
   --> /home/pi/.cargo/registry/src/github.com-1ecc6299db9ec823/socket2-0.4.1/src/sys/unix.rs:878:5
    |
878 |     #[cfg(not(any(target_os = "haiku", target_os = "openbsd")))]
    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

error: aborting due to previous error

error: could not compile `soc

[2021-12-11 11:44] Thomasdezeeuw commented on #277
What rustc are you using? We require at least rustc 1.46.

[2021-12-16 19:18] skeggse opened #278 "Support IP_HDRINCL socket option"
I'd love to see the option to set `IP_HDRINCL` on RAW sockets!

[2021-12-17 13:58] #211 closed

[2021-12-17 14:01] Thomasdezeeuw commented on #277
@lams2135 I think if you update your rustc version this should be resolved. I'm closing this for now, but if its still an issue please reopen it.

[2021-12-17 14:01] #277 closed

[2021-12-17 14:12] #261 closed

[2021-12-17 15:16] #278 closed

[2021-12-19 02:21] lams2135 commented on #277
thank you @Thomasdezeeuw , I updated rustc then resolve this issue.

[2022-01-10 20:11] tamird opened #283 "Support join_multicast_v4 with interface index rather than address"
Currently [`join_multicast_v4`](https://doc.rust-lang.org/std/net/struct.UdpSocket.html#method.join_multicast_v4) takes the interface by its address and calls `setsockopt` with an argument of type `ip_mreq` on unix. Meanwhile [`join_multicast_v6`](https://doc.rust-lang.org/std/net/struct.UdpSocket.html#method.join_multicast_v6) takes the interface by its index.

Per `man 7 ip`:
[code]

Joining an

[2022-01-10 21:44] Thomasdezeeuw commented on #283
Pr would be welcome, but it has two blocking issues:
* The libc crate is missing `ipv6_mreqn`
* Change the method would be a breaking change, but we can add a `join_multicast_v6`2 and join the methods in v0.5.

[2022-01-11 16:11] tamird commented on #283
`ipv6_mreqn` is not a thing; what we need here is [`ip_mreqn`](https://docs.rs/libc/latest/libc/struct.ip_mreqn.html).

I'll work up a PR.

[2022-01-11 16:37] Thomasdezeeuw commented on #283
Ah I think I misunderstood. You want `join_multicast_v4` with an interface argument of type `u32` rather then `Ipv4Addr`.

[2022-01-15 17:30] eddi0815 opened #285 "Support TCP_CORK, TCP_THIN_LINEAR_TIMEOUTS and TCP_QUICKACK"
Hallo,

for my project I need to use the socket options TCP_CORK, TCP_THIN_LINEAR_TIMEOUTS and TCP_QUICKACK and I'd like to implement them for socket2. As far as I know these options are Linux only.

Disclaimer: I am quite new to Rust and this is my first PR for a Rust project.

I am not sure where to implement this stuff in https://github.com/rust-lang/socket2/blob/master/src/sys/unix.rs and http

[2022-01-16 14:03] Thomasdezeeuw commented on #285
They should indeed for into the Unix only block here: https://github.com/rust-lang/socket2/blob/271fd2e878be19aab9bbd416ea18ed54ac31af61/src/sys/unix.rs#L1003-L1004 Please keep them in alphabetical order.

That the right approach, also see `set_mark`: https://github.com/rust-lang/socket2/blob/271fd2e878be19aab9bbd416ea18ed54ac31af61/src/sys/unix.rs#L1264-L1284 Both Android and Fuchsia are Linux ba

[2022-01-19 08:57] #285 closed

[2022-01-20 18:30] #283 closed

[2022-01-22 13:21] dimbleby opened #289 "please tag 0.4.3"
looks like 0.4.3 has been released but the tag was forgotten, thanks!

[2022-01-22 13:52] Thomasdezeeuw commented on #289
Done: https://github.com/rust-lang/socket2/releases/tag/v0.4.3.

[2022-01-22 13:52] #289 closed

[2022-01-28 18:34] Thomasdezeeuw opened #292 "Support Socket::{join_multicast_v4_n, leave_multicast_v4_n} on OpenBSD"
Effectively reverting https://github.com/rust-lang/socket2/pull/291. Requires `ip_mreqn` to be added to libc.

[2022-01-28 22:19] niklasha commented on #292
I just checked and a recent commit: https://github.com/rust-lang/libc/commit/2cfa3e949fd69c79f09c4b2a6119df884e3532d5 seems to have added it.  Maybe it's just a case of waiting for a new release?

[2022-01-29 12:54] Thomasdezeeuw commented on #292
@niklasha It seems that comment is already in v0.2.114 based on the git tags, if you have an OpenBSD install handy could you check that socket2 works with libc v0.2.114?

[2022-02-14 09:06] ChenKS12138 commented on #268
I'm interested in using socket2 in wasm too. I found that symbols like AF_INET, sa_family_t, sockaddr_in are missing in [wasi](https://docs.rs/wasi), so it doesn't have the concept about the address of socket, and we barely could define `SockAddr` for wasm. [wasi](https://github.com/WebAssembly/WASI/blob/0ba0c5e2e37625ca5a6d3e4255a998dfaa3efc52/phases/snapshot/docs.md) supports socket_accept, sock

[2022-02-22 03:22] sascha1337 commented on #268
the day, wasi will have them features, will be gold for rust and thus the planet ... but wen X_X

[2022-03-18 20:34] keepsimple1 opened #296 "does socket2 support select?"
Is there any support of `select` (as in Unix) or something similar?

[2022-03-18 20:58] Thomasdezeeuw commented on #296
Not in socket2, I would consider it out of scope for socket2. However if you're looking for something like `epoll`/`kqueue` you can consider [Mio](https://docs.rs/mio).

[2022-03-18 20:58] #296 closed

[2022-03-18 21:13] keepsimple1 commented on #296
socket2 already depends on `libc` and `winapi`, thus has the tools needed to support something like `select`.  In fact, the `poll_connect` function seems to do something similar, on [windows](https://github.com/rust-lang/socket2/blob/527292127f5a92db6bfdffbf1df9fd05c83935b1/src/sys/windows.rs#L263-L266) and on [Unix](https://github.com/rust-lang/socket2/blob/527292127f5a92db6bfdffbf1df9fd05c83935b

[2022-03-19 09:58] Thomasdezeeuw commented on #296
I know and I felt that was out of scope already, but the std lib's `TcpSocket`also had it, so we decided in the end to add it back again. But `select` is really out of scope for socket2.

[2022-03-19 16:57] keepsimple1 commented on #296
I understand that. On the other hand, it seems to me that Rust net/socket ecosystem fragmented too much. The `std::net` is missing lots of important features, while 3rd-party crates are overlapping each other and often times we have to pull in a new dependency to just call a single common function.

It's not `socket2`'s fault. But I am worried that the situation hurts the productivity of many Rust

[2022-04-19 06:17] zrz4066 opened #297 "How to get the available IPs in multi-network ?"
My laptop has two physical network card，one is wireless card ，the other is ethernet。It also has vitual networks 。if I disconnect ethernet,I can get all IP including ethernet(more than one).How do get the available IPs ?

for iface in get_if_addrs::get_if_addrs().unwrap() {

        match iface.addr.ip() {
            std::net::IpAddr::V4(ip) => {
                if ip.is_loopback() || ip.is_broadc

[2022-04-21 21:16] Thomasdezeeuw commented on #297
I don't think this is a question relevant for socket2, perhaps this is better for a platform like StackOverflow.

Are you looking for the IP addresses for the interfaces that are online/connected?

[2022-04-23 17:09] notgull commented on #268
Isn’t `wasi` an unstable API at the moment? It might not be the best idea to build on top of it.

[2022-04-23 17:43] Thomasdezeeuw commented on #268
The API is in preview I believe, but considering it's implemented by browser backwards compatibility is everything. So I think it's find to add experimental support for wasm/wasi, this is what we did for Mio.

[2022-04-24 13:04] Yneth opened #300 "send_to fails due to invalid SockAddr"
I am using `SocketAddrV4.into()` which is passed to `socket.send_to`.
And according to https://github.com/rust-lang/socket2/blob/master/src/sockaddr.rs#L238
`sin_len` is always 0 which causes
[code]

[2022-04-24 13:05] Yneth commented on #300
is there any quick fix to this?

[2022-04-24 13:49] Yneth commented on #300
I was wrong, it is not the root cause of error described earlier.

[2022-04-24 15:11] Thomasdezeeuw commented on #300
Could you share some code and context (OS, etc.) because it's highly unlike the socket address conversion is at fault here.

[2022-04-24 15:17] Yneth commented on #300
yeah, this error code refers to EINVAL (linux.man)[https://linux.die.net/man/3/sendto].
I am using `set_header_included` meaning that I am manually creating a tcp ip packet.

[2022-04-24 17:24] Yneth commented on #300
solution to the problem is to use little endian for checksums and ip_len on macos
as per
* https://cseweb.ucsd.edu//~braghava/notes/freebsd-sockets.txt
* https://stackoverflow.com/a/7160206
* Steven's "Unix Network Programming" Volume I Chapter 25 "Raw socket" 2nd edition

[2022-04-24 17:24] #300 closed

[2022-04-26 10:00] Thomasdezeeuw opened #301 "Switch to windows-sys?"
We did it for Mio as well: https://github.com/tokio-rs/mio/pull/1556.

[2022-04-26 10:01] Thomasdezeeuw opened #302 "Expand support for IP_RECVTOS"
Follow up to https://github.com/rust-lang/socket2/pull/299.

Currently not supported for the following targets:
 * [ ] fuschia
 * [ ] illumos
 * [ ] netbsd
 * [ ] redox
 * [ ] solaris
 * [x] windows: supported, but not in the `winapi` crate's API, see https://github.com/rust-lang/socket2/issues/301.
 * [ ] Haiku

[2022-04-28 19:18] notgull commented on #218
Could we add an `Into<Socket>` bound to this, since the types that can be fed into `Into<Socket>` are well-known to be able to be converted into sockets?

[2022-04-29 03:24] thaodt commented on #268
hi @Thomasdezeeuw do we have any ways to work around now? My lib depends on `tokio` and `tokio` depends on `socket2`. As a result, it built failed under target `wasm32-unknown-unknown` (`wasm-pack build --target web`)

[2022-04-29 04:14] sascha1337 commented on #268
Just do some draft PoC please, we need em so keta and tokio

[2022-04-29 10:57] Thomasdezeeuw commented on #268
You might be able to disable Tokio's network feature, not sure though.

Prs are welcome.

[2022-04-29 11:02] Thomasdezeeuw commented on #218
@notgull Anything that implements `From<T> for Socket` implies `Into<Socket> for T`, see https://doc.rust-lang.org/std/convert/trait.From.html#generic-implementations.

[2022-04-29 12:17] Darksonn commented on #268
Tokio only depends on socket2 if you enable the `net` feature, and even if you make socket2 compile under wasm somehow, I'm pretty sure that there would also be other problems with getting Tokio's `net` feature to work.

[2022-05-10 08:04] bachue opened #308 "Release v0.4.5 did a break change"
The PR "Replace `winapi` dependency with `windows-sys`"  (https://github.com/rust-lang/socket2/pull/303) breaks public apis, cause [`dns-lookup`](https://github.com/keeperofdakeys/dns-lookup) are failed to compile on windows https://github.com/keeperofdakeys/dns-lookup/issues/22. `dns-lookup` calls `getnameinfo` from `winapi`, but now `socket2` exports `SockAddr` from `windows-sys`, which are inco

[2022-05-10 08:18] Thomasdezeeuw commented on #308
I've yanked v0.4.5 for now.

[2022-05-10 08:25] bachue commented on #308
@Thomasdezeeuw  👍

[2022-05-10 08:26] #308 closed

[2022-05-10 08:28] Thomasdezeeuw opened #309 "Rerelease with windows-sys"
Following #308 it seems we expose winapi in some of our API so switching to windows-sys is a breaking change.

[2022-05-11 08:18] Thomasdezeeuw commented on #218
Looks like I/O safety might be stabilised in 1.62: https://github.com/rust-lang/rust/pull/95118.

[2022-05-13 17:16] nathaniel-bennett opened #310 "API to clone/copy a SockAddr?"
Is there any way to create a new copy of a `SockAddr` from an existing one? I've searched through documentation pretty extensively, but there doesn't appear to be any API to do it as it stands.

It looks like `sockaddr_storage` and `socklen_t` have both `Copy` and `Clone` traits implemented for them, and in its current form `SockAddr` is composed of just those two values, so unless there's some co

[2022-05-13 18:09] Thomasdezeeuw commented on #310
A pr to add `Clone` would be accept. I'm sure about `Copy`, it's a little big I think.

[2022-05-14 14:40] #310 closed

[2022-05-14 14:40] Thomasdezeeuw commented on #310
Fixed in #311.

[2022-06-03 04:36] sn99 commented on #308
@Thomasdezeeuw I am working on shifting `dns-lookup` from `winapi` to `window_sys`, I am using your master branch instead of crates.io and it seems to be working, I will make a pull in `dns-lookup` soon.

[2022-06-03 10:13] Thomasdezeeuw commented on #308
Sounds good, but unfortunately we still can't make a breaking change in a v0.4.x release, so the switch to window_sys will have to go into v0.5.

[2022-06-05 13:19] sn99 commented on #308
Oh yeah, no problem, just wanted to inform you about the change in dns-lookup

[2022-06-07 01:32] pacak opened #312 "recvmmsg, control messages, timestamps"
I'm trying to implement something to support zero copy `recvmmsg` (and possibly `sendmmsg`) in *nix along with support for hardware/software timestamps. This will require adding support for control messages and some related things. I wonder how well it fits with this crate philosophy.

Timestamping and `recvmmsg` are independent changes.

Should I try add it to this crate or is it best to implemen

[2022-06-07 03:33] notgull commented on #312
This crate aims for bare minimums, I'd say to implement it in a separate crate. Alternatively you could use `AsRawFd` plus [`nix`](https://docs.rs/nix/latest/nix/) to do it safely.

[2022-06-07 03:35] pacak commented on #312
I already added support for timestamping to nix and got it merged upstream, it's just nix already implements recvmmsg but it's very strange. Anyway, thanks for the reply I guess this ticket can be closed unless there's other opinions.

[2022-06-07 08:12] Thomasdezeeuw commented on #312
We can add a wrapper around the system call, it's just a question of how much would this wrapper do, for example to achieve safety or cross platform support. We try to adhere by 1 function = 1 system call, but that's not always possible. @pacak if you have an idea/design on how socket2 would support the system calls I would be open to consider them.

[2022-06-07 22:42] pacak commented on #312
I don't think it's as simple as that hence the ticket. Getting timestamps would require allocating message buffers, providing a way to get them back, etc. Plus it would be nice to let the user decide what headers to request/allocate.

[2022-06-07 22:42] #312 closed

[2022-06-13 19:02] brunowonka opened #313 "Support ancillary data over `sendmsg`, `recvmsg`"
Should `socket2` support `sendmsg`/`recvmsg` including control ancillary data to expose things like `IP_TTL` and `IPV6_PKTINFO`.

I [took a quick stab at it](https://github.com/brunowonka/socket2/commit/b228b0babe47ac9358117b3e9287669deb6ab06b) to figure out how it'd look like. I only did the writing side, I think there's a lot of design work and discussion here and I'm more than half-convinced th

[2022-06-19 10:20] idevorel opened #315 "build failed, - WebAssembly"
warning: build failed, waiting for other jobs to finish...
error[E0308]: mismatched types
    --> /root/.cargo/registry/src/github.com-1ecc6299db9ec823/socket2-0.4.4/src/socket.rs:1776:23
     |
1776 | from!(net::TcpStream, Socket);
     |                       ^^^^^^ expected struct `Socket`, found `()`
     |
    ::: /root/.cargo/registry/src/github.com-1ecc6299db9ec823/socket2-0.4.4/src/lib.rs:

[2022-06-19 10:41] Thomasdezeeuw commented on #315
Duplicate of https://github.com/rust-lang/socket2/issues/268.

[2022-06-19 10:41] #315 closed

[2022-06-19 17:06] Thomasdezeeuw commented on #313
@brunowonka I don't really have time to review this at the moment, but if you open a draft pr I can start reviewing the code once I have some time. In general I think that if the API surface isn't too big socket2 should be able to support this.

[2022-06-23 21:29] brunowonka commented on #313
Thanks @Thomasdezeeuw, opened #316 to get the conversation started

[2022-06-25 18:10] miketwenty1 commented on #268
can verify trying to use either crate:
`awc = "3.0.0"`
`actix-rt = "2.7.0"`
Will result in a bunch of socket2 errors when trying to compile to wasm.
such as:
[code]
Is it assumed until this issue is resolved that we won't be able to use socket2 with wasm or any libs/crates that rely on socket2?

[2022-06-27 20:07] Arlen22 opened #317 "set_ip_transparent is not detected on target aarch64-linux-android"
I can't figure out what's going on, as this is my first rust project. I'm trying to call set_ip_transparent on a socket but it gives me the error "no method named `set_ip_transparent` found for struct `Socket` in the current scope".

[code]

[code]
[code]

[2022-06-27 21:32] Arlen22 commented on #317
Turns out that the os is the third item in the triple, which in this case is android, not linux.

[2022-06-27 21:32] #317 closed

[2022-06-30 15:53] leshow commented on #313
I don't have an opinion on the code per-say, but I did want to link some other resources I stumbled across that may be helpful:
- [quinn udp](https://github.com/quinn-rs/quinn/tree/main/quinn-udp) used in rust QUIC impl, has a `cmsg` type that may be informative
- [nix sendmsg](https://github.com/nix-rust/nix/blob/16471898160b5b1fa27689a26727d1d82ddd5573/src/sys/socket/mod.rs#L1397)

As an argumen

[2022-07-11 06:46] gcxfd opened #318 "support set IP_DONTFRAG"
see

https://chromium.googlesource.com/chromium/src/net/+/refs/heads/main/socket/udp_socket_posix.cc
 ```
  | // setsockopt(IP_DONTFRAG) is supported on macOS from Big Sur
  | #elif BUILDFLAG(IS_MAC)
  | if (!base::mac::IsAtLeastOS11()) {
  | return ERR_NOT_IMPLEMENTED;
  | }
  | int val = 1;
  | if (addr_family_ == AF_INET6) {
  | int rv =
  | setsockopt(socket_, IPPROTO_IPV6, IPV6_DONTFRAG, &val

[2022-07-11 09:02] Thomasdezeeuw commented on #318
@gcxfd do you mean you would like a function that sets this flag? If so, such a change would be welcome.

[2022-08-04 17:51] jeff-hiner opened #323 "No sound way to zero-copy from socketaddr_in"
This is most painful on Windows, where SOCKADDR_STORAGE is 132 bytes long.

Consider the following naive example code, where the SOCKADDR pointer here is a pointer to an ipv4/ipv6 address obtained via syscall:
[code]
The issue is that `SOCKADDR_STORAGE` is larger than `SOCKADDR`, the pointer is only guaranteed to be valid through `length` bytes, and so casting it to `*const SOCKADDR_STORAGE` and d

[2022-08-05 08:01] Thomasdezeeuw commented on #323
On Unix it's a 128 bytes, so I don't really see much of a difference...

Have you tried [`SockAddr::init`](https://docs.rs/socket2/latest/socket2/struct.SockAddr.html#method.init)? It's goal is to be used in system calls where the OS initialises it, e.g. see the [`accept`](https://github.com/rust-lang/socket2/blob/d97e78ac1b07e656641732dca496434f86916efa/src/sys/windows.rs#L312-L321) implementatio

[2022-08-05 15:53] jeff-hiner commented on #323
In this case I'm getting a linked list of minimally-sized `sockaddr_in` / `sockaddr_in6` populated by an OS call. I don't pass it pointers to structs, as with `accept`. (The OS call on Windows is `GetAdaptersAddresses`, if you're curious. It gives you [this](https://docs.microsoft.com/en-us/windows/win32/api/iptypes/ns-iptypes-ip_adapter_addresses_lh).)

That's more or less what I'm suggesting, ye

[2022-08-06 11:47] Thomasdezeeuw commented on #323
Let's take a step back then. What are you trying to do with the `sockaddr_in` your getting from the OS? Are you trying to create `std::net::SocketAddr` and continue using that? Or are you trying to use socket2 functions (which need `socket::SockAddr`)?

I don't think it needs to be that complicated I think the following will do:

[code]

[2022-08-08 15:20] jeff-hiner commented on #323
Yeah, I think that would work. Would you suggest then implementing `as_socket` as a runtime match against the family, and a debug_assert against the length?

As to what we're trying to do, we have some unsafe code that's trying to extract IP addresses from those FFI structs. The legacy code was doing a transmute directly into `std::net::SocketAddrV4` / `SocketAddrV6` which was a bad idea that happ

[2022-08-08 16:15] Thomasdezeeuw commented on #323
Yes, something like the following.

[code]

But note that `ptr::read` does have various requires for proper reading, so we'll need to document those carefully.

We went through the same problem (https://github.com/rust-lang/socket2/pull/122). I'm wondering where `SockAddrRef` is a good type or if `sockaddr_in -> std::net::SocketAddr` helper function would be easier. Because if we create a new `Soc

[2022-08-08 17:20] jeff-hiner commented on #323
Yeah I think more I was trying to get folks thinking about a non-owned `SockAddr` with an external-backed pointer to something not a full length `sockaddr_storage`, and what that would look like. The impls already there are incredibly useful, they are almost what's needed, and honestly the functionality could probably be moved to a trait impl over both the owned and non-owned version (or impl the

[2022-08-09 03:43] Neo-Ciber94 commented on #35
As say adobe you need to disable or exclude dependencies that does not target wasm32 which is what trunk target.

Foe example can exclude them this way:

[code]

[2022-08-11 17:52] notgull commented on #218
I/O Safety has been stabilized in 1.63.0. I would be willing to write a PR that changes this crate to use the new I/O-safe traits, if the MSRV bump is acceptable.

[2022-08-11 18:11] Thomasdezeeuw commented on #218
@notgull we're going to bump to 1.63 in v0.5 for that reason, see https://github.com/rust-lang/socket2/pull/320.

We do have to be careful about the change in API though, we'll want to give people and nice path to upgrade. So, maybe we add the owned variants of the traits and leave the current (unsound) ones in place an deprecate them, removing them in the next version.

[2022-08-13 13:34] Thomasdezeeuw commented on #166
Leaving this as-is.

[2022-08-13 13:34] #166 closed

[2022-08-13 13:35] Thomasdezeeuw commented on #49
@zonyitoo do you still think this should go into Socket2? Or is your library a better place to keep it?

[2022-08-13 13:39] Thomasdezeeuw commented on #42
Seems like this hasn't made any progress so I'm closing. More discussion and prs and still welcome of course.

[2022-08-13 13:39] #42 closed

[2022-08-13 13:53] Thomasdezeeuw commented on #199
Due to the lack of progress I'm going to close it. Any more discussion or contributions are of course always welcome.

[2022-08-13 13:53] #199 closed

[2022-08-13 13:54] Thomasdezeeuw commented on #202
Due to the lack of progress I'm going to close it. Any more discussion or contributions are of course always welcome.

[2022-08-13 13:54] #202 closed

[2022-08-13 13:59] Thomasdezeeuw commented on #309
Doing this in v0.5. Since nothing is left to do here I'm going to close this.

[2022-08-13 13:59] #309 closed

[2022-08-13 14:00] Thomasdezeeuw commented on #297
Closing due to inactivity.

[2022-08-13 14:00] #297 closed

[2022-08-13 14:04] #181 closed

[2022-08-14 16:14] Thomasdezeeuw commented on #231
Done in #327 and #328.

[2022-08-14 16:14] #231 closed

[2022-08-14 16:37] #218 closed

[2022-08-15 05:20] zonyitoo commented on #49
Well, setting the `TCP_FASTOPEN` flag could be in socket2, but the whole TFO process (client making connection, server setting up acceptor socket) may have to be put in `tokio-tfo`.

I am ok to make a PR for setting `TCP_FASTOPEN` for sockets.

[2022-08-15 08:01] Thomasdezeeuw commented on #49
Sounds good.

[2022-08-15 09:09] zonyitoo commented on #49
https://github.com/zonyitoo/tokio-tfo/blob/3e23d00c4258884db73cba49753fa37f5f9fa7ca/src/sys/unix/linux.rs#L388-L419

There is a problem about how to design a unified API. Linux's `TCP_FASTOPEN` accepts an integer value reprecenting the length of TFO accept queue. On the other platforms, including Windows, macOS, FreeBSD, it is only a switch with `0` and `1`.

[2022-08-15 18:37] Thomasdezeeuw commented on #49
We could document the behaviour, i.e. `0` disables, `>= 1` enables, on Linux it changes the queue length.

[2022-08-16 19:13] aviramha opened #330 "Close socket on Drop?"
Right now there's no `Drop` implementation for `Socket`. I think it should have so it can close it when it's dropped.
Would you accept a PR adding this?

[2022-08-16 19:15] Thomasdezeeuw commented on #330
We use a `TcpStream` to represent the `Socket`, so it handles closing the socket for us: https://github.com/rust-lang/socket2/blob/eaa6300e13d7ed421a3df2fe0149b7a54956b84c/src/socket.rs#L73-L77

[2022-08-16 19:15] #330 closed

[2022-08-17 21:13] jstarks opened #331 "Windows: consider allow use of all 108 bytes for Unix socket paths"
Windows does not require null termination for Unix socket paths--all 108 bytes can be used in the path string.

However, Windows does not document this behavior, so #249 chose not to rely on this and to require null termination, reducing the number of bytes available in the path by one.

Consider fixing this once Windows fixes their documentation.

See <https://github.com/rust-lang/socket2/pull/24

[2022-08-19 06:37] sullivan-sean opened #332 "Expose address from SockAddr for unix domains"
It would be nice to be able to access the path of a unix socket from `SockAddr` similar to `vsock_address`

`socket2` is being considered as a backend for UDS on windows in `mio`/`tokio` (https://github.com/tokio-rs/mio/pull/1610#issuecomment-1218388105) and, if used, would need to expose the address of unix sockets from `SocketAddr` to mirror the implementation of [SocketAddr](https://docs.rs/mio

[2022-08-19 07:50] Thomasdezeeuw commented on #332
Do you mean https://docs.rs/socket2/latest/socket2/struct.SockAddr.html#method.unix? I think we simply forgot to expose it in https://github.com/rust-lang/socket2/pull/249.

It's not ;)

[2022-08-19 11:01] sullivan-sean commented on #332
I meant more going the other way from `SockAddr` -> `Path`. Right now the `SockAddr` struct has private fields and there are no methods for Unix sockets exposing the `Path` which means once you have a `SockAddr` object (e.g. as returned from `accept`) you cannot get the corresponding `Path` back out, or tell whether a `SockAddr` is an unnamed or abstract Unix socket (i.e. the `SockAddr` here can't

[2022-08-19 12:03] Thomasdezeeuw commented on #332
We could add `SocketAddr::as_pathname() -> Option<Path>`.

[2022-08-19 12:04] Thomasdezeeuw opened #333 "Rename SocketAddr::vsock_address to as_vsock_address"
All other conversion have the `as_` prefix, this an exception so let's fix that in v0.5.

[2022-08-19 23:38] sullivan-sean commented on #332
What is the desired behavior for abstract unix sockets where there is a name associated with the `SockAddr` struct but this name has no connection with filesystem  pathnames? (https://manpages.ubuntu.com/manpages/trusty/man7/unix.7.html)

Unnamed unix sockets would presumably return `None` from `as_pathname`, and normal sockets would return a `Path` as expected.

[2022-08-20 13:05] Thomasdezeeuw commented on #332
I think we can match the [`std::os::unix::net::SocketAddr`](https://doc.rust-lang.org/std/os/unix/net/struct.SocketAddr.html) type and match the [`is_unnamed`](https://doc.rust-lang.org/std/os/unix/net/struct.SocketAddr.html#method.is_unnamed), [`as_pathname`](https://doc.rust-lang.org/std/os/unix/net/struct.SocketAddr.html#method.as_pathname) and [`as_abstract_namespace`](https://doc.rust-lang.or

[2022-08-21 23:03] sullivan-sean commented on #332
Okay, I think I have a good understanding of the desired API then -- I can take a stab at this and open a PR?

[2022-08-22 08:25] Thomasdezeeuw commented on #332
Sounds good.

[2022-08-22 13:17] #333 closed

[2022-08-24 15:07] MortronMeymo opened #337 "Fix cfg target checks for TcpKeepalive"
The cfg target checks for the TcpKeepalive feature are contradicting each other.

The `interval` member of the `TcpKeepalive` struct uses
[code]

The setter for the field (`with_interval`) uses
[code]

And the code in sys::set_tcp_keepalive (unix.rs) uses:
[code]

So in all three places whether the `interval` is supported or not is determined differently.

The end result is if you pick for example

[2022-08-24 15:10] MortronMeymo commented on #337
I'm not sure which of the different cfg checks is the best one....

[2022-08-25 09:22] Thomasdezeeuw commented on #337
The public needs Android here (and just below it): https://github.com/rust-lang/socket2/blob/acde0dae0cc5979ce6b639afd04e0ef6b280af3c/src/lib.rs#L427-L438

For the struct field it's easier to keep the `cfg` list small, but technically that should have the same long list as with the public version.

@MortronMeymo you will to make a pr for this? At least to add Android, you can keep the struct field

[2022-08-25 10:04] MortronMeymo commented on #337
@Thomasdezeeuw I added PR #338 to fix the setters and decided to leave the field alone but make it so that if the sys crate supports setting the values than the setters on the TcpKeepAlive struct are also available.

[2022-08-25 11:42] #337 closed

[2022-08-25 11:48] MortronMeymo commented on #337
@Thomasdezeeuw sooo any chance this will be available as a 0.4.x on crates.io? We currently can only pull dependencies from there... :see_no_evil:

[2022-08-25 12:11] Thomasdezeeuw commented on #337
Then we'll have to backport it to the v0.4.x branch

[2022-08-25 12:33] MortronMeymo commented on #337
If you want I can prepare a CR for that as well, but what is the strategy for backporting? Should I just cherry-pick my commit to that branch or how do you usually do it?

[2022-08-25 12:43] Thomasdezeeuw commented on #337
Yes cherry-pick is the way to go and just target `v0.4.x` in your pr.

[2022-08-26 13:53] MortronMeymo commented on #337
@Thomasdezeeuw thanks for the quick `0.4.6` release :D

[2022-09-05 18:48] piegamesde opened #347 "Query nonblocking status"
I'd like to know whether a given socket is in O_NONBLOCK mode or not (for debugging purposes). Most methods on `Socket` have a getter and a setter, but for `set_nonblocking` I cannot find the corresponding `nonblocking` getter that I would need for that.

[2022-09-07 16:13] #347 closed

[2022-09-07 16:14] Thomasdezeeuw commented on #347
I don't know if it's possible to get this status on Windows, maybe using [`WSAIoctl`](https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-wsaioctl)?

[2022-09-10 18:10] robwahl commented on #292
Hello, my name is Robert Wahlstedt and I would like to help with this issue

[2022-09-10 20:44] Thomasdezeeuw commented on #292
Great! I tried to keep everything working on OpenBSD, but the OpenBSD target not being distributed via rustup makes it a lot harder.

I think the easiest place to start is get the tests running and passing on OpenBSD. This means you'll likely have to add a bunch of `cfg` such as the following to the code: https://github.com/rust-lang/socket2/blob/4c436818cddec880c26c4e79aca7106ba88827ff/src/lib.rs

[2022-09-10 21:15] robwahl commented on #292
Great, I'd get started on it

[2022-09-10 21:29] niklasha commented on #292
All configured tests run already, but perhaps you were referring only to https://github.com/rust-lang/socket2/blob/4c436818cddec880c26c4e79aca7106ba88827ff/tests/socket.rs#L1237 ?

[2022-09-10 21:31] niklasha commented on #292
and @Thomasdezeeuw I am sorry, I forgot all about your request from January 29, but I'll gladly let @robwahl do this deed instead :-)

[2022-09-20 19:19] onestay opened #350 "Adding DCCP support"
I would like to add [DCCP](https://www.rfc-editor.org/rfc/rfc4340) support. It is currently only available on Linux. It would basically only involve exposing the Type, Protocol and some socket options listed [here](https://www.kernel.org/doc/html/latest/networking/dccp.html). Would this be something of interest?

Currently I'm proposing to just add something like this
[code]
and
[code]
In addition

[2022-09-20 19:48] Thomasdezeeuw commented on #350
Sounds good 👍

[2022-09-21 21:21] GeorgeLS opened #353 "Accept unix abstract namespace paths starting with @"
Hello there,

I was writing some unix specific code using your library (thanks for this library by the way) and I came across this "issue".
Many libraries support specifying abstract namespace paths by prepending the path with the '@' character.
This is pretty common in Unix and convenient as well since it's not convenient to format paths or add the null character (\0) at the start of the path so

[2022-09-22 09:13] Thomasdezeeuw commented on #353
Hmm... I'm not sure about this. Generally speaking we prefer not to modify any parameters and just provide a thin, safe layer on top of the API provided by the OS/libc.

[2022-09-22 10:44] GeorgeLS commented on #353
Yeah, you are right. I looked into the kernel code and it doesn't explicitly handle this. It is a convention handled by either application code or other libraries. Since this is a thin OS layer, this should probably be handled in the application code.

Thanks for the response. Closing this issue now.

[2022-09-22 10:44] #353 closed

[2022-10-06 13:35] ibigbug opened #355 "Some API not showing up on docs"
for example https://github.com/rust-lang/socket2/blob/ff79dee5174b8beb32b54e35636fc45358e2d705/src/sys/unix.rs#L1586

doesn't seem to exist here https://docs.rs/socket2/0.4.7/socket2/struct.Socket.html

is it intentional?

[2022-10-06 13:38] Thomasdezeeuw commented on #355
This is because it's Apple only. If you look at e.g. the Darwin docs.rs: https://docs.rs/socket2/0.4.7/x86_64-apple-darwin/socket2/struct.Socket.html#method.bind_device_by_index, it's present.

[2022-10-08 19:23] ibigbug commented on #355
thank you!

 but how do to switch to the "Apple" version or check what versions there are? is it some rust doc feature or this doc is built that way.

[2022-10-09 21:04] Thomasdezeeuw commented on #355
In the bar at the top you can select the platform for the documentation. See the attached screenshot.

![Screenshot 2022-10-09 at 23 01 25](https://user-images.githubusercontent.com/3159064/194779376-54823660-d4eb-4377-ac02-14e4cdd9f6ab.png)

[2022-10-14 21:33] #355 closed